
body {
	background-color: #f5f5f5;
	padding: 30px;
}

.special-well {
	background-color: #ffffff;
}

.form-horizontal  .control-label {
	width: 110px;
}

.form-horizontal  .controls {
	margin-left: 130px;
}
