<div id="content" class="large">
	<div class="item">
		<form action="" method="post">
			<table cellpadding="5" cellspacing="0">
				<tr>
					<td><label for="nickname"><strong>Pseudonyme :</strong></label></td>
					<td>
						<input id="nickname" type="text" name="nickname" value="{$nickname}" maxlength="30" size="20" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td><label for="password">Mot de passe :</label></td>
					<td>
						<input id="password" type="password" name="password" size="20" /><br />
						<input id="password_conf" type="password" name="password_conf" size="20" />
						<em>(confirmation)</em>
					</td>
				</tr>
				<tr>
					<td><label for="email">Adresse email :</label></td>
					<td><input id="email" type="text" name="email" value="{$email}" size="35" /></td>
				</tr>
				<tr>
					<td><label for="groupe">Groupe :</label></td>
					<td>
						<script type="text/javascript">
							var apps = {
								0: '',
								{for $cat in $cats}
									{$cat.id}: '{$cat.access}',
								{/for}
							};
						</script>
						<select id="groupe" name="groupe" onchange="catChange(this);">
							<option value="0">Aucun groupe</option>
							{for $cat in $cats}
								<option value="{$cat.id}">{$cat.name}</option>
							{/for}
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top;"><label for="type">Type d'utilisateur :</label></td>
					<td>
						<script type="text/javascript">
							function changeType(type) {
								if (type == 'perso') {
									$('#access').show();
								} else {
									$('#access').hide();
								}
							}
						</script>
						<select id="type" name="type" onchange="changeType(this.options[this.selectedIndex].value);">
							<option value="none">Simple utilisateur</option>
							<option value="all">Administrateur suprême</option>
							<option value="perso">Mode personnalisé</option>
						</select>
						<br />
						<ul id="access" class="hidden">
							{for $app in $admin_apps}
							<li>
								<input class="access" id="{$app.name}" type="checkbox" name="access[{$app.name}]" />
								<label for="{$app.name}">{$app.name|ucfirst}</label>
								{%
								{if count({$app.levels}) > 0}
								<select name="level[{$app.name}]">
									{foreach item={$module.levels} as={$level}}
									<option value="{$level.value.id}">{$level.value.name}</option>
									{/foreach}
								</select>
								{/if}
								%}
							</li>
							{/for}
						</ul>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<label><input type="checkbox" name="emailwarning" /> Envoyer les informations de connexion par email</label>
					</td>
				<tr>
					<td colspan="2" class="tcenter">
						<br />
						<input type="submit" value="Créer l'utilisateur" />
						<input type="button" value="Annuler" onclick="history.back();" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>