<div id="content" class="large">
	<div class="item">
		{if !empty({$note})}{$note}{/if}
		<form action="" method="post">
			<table cellpadding="5" cellspacing="0">
				<tr>
					<td><label for="nick"><strong>Pseudonyme :</strong></label></td>
					<td>
						<input id="nick" type="text" name="nickname" value="{$nickname}" maxlength="30" size="20" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td><label for="pass1">Mot de passe :</label></td>
					<td>
						<input id="pass1" type="password" name="pass" size="20" /><br />
						<input id="pass2" type="password" name="pass_confirm" size="20" />
						<em>(confirmation)</em>
					</td>
				</tr>
				<tr>
					<td><label for="email">Adresse email :</label></td>
					<td><input id="email" type="text" name="email" value="{$email}" size="35" /></td>
				</tr>
				<tr>
					<td><label for="groupe">Groupe :</label></td>
					<td>
						<script type="text/javascript">
							var apps = {
								0: '',
								{foreach item={$cats} as={$c}}
									{$c.value.id}: '{$c.value.access}',
								{/foreach}
							};
						</script>
						<select id="groupe" name="groupe" onchange="catChange(this);">
							<option value="0">Aucun groupe</option>
							{foreach item={$cats} as={$c}}
								<option value="{$c.value.id}">{$c.value.name}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top;"><label for="type">Type d'utilisateur :</label></td>
					<td>
						<script type="text/javascript">
							function changeType(type) {
								if (type == 'perso') {
									$('#access').show();
								} else {
									$('#access').hide();
								}
							}
						</script>
						<select id="type" name="type" onchange="changeType(this.options[this.selectedIndex].value);">
							<option value="none">Simple utilisateur</option>
							<option value="all">Administrateur suprême</option>
							<option value="perso">Mode personnalisé</option>
						</select><br />
						<ul id="access" class="hidden">
							{block name="module"}
							<li>
								<input class="access" id="{$module.name}" type="checkbox" name="access[{$module.name}]" />
								<label for="{$module.name}">{$module.name|ucfirst}</label>
								{if count({$module.levels}) > 0}
								<select name="level[{$module.name}]">
									{foreach item={$module.levels} as={$level}}
									<option value="{$level.value.id}">{$level.value.name}</option>
									{/foreach}
								</select>
								{/if}
							</li>
							{/block}
						</ul>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<label><input type="checkbox" name="emailwarning" /> Envoyer les informations de connexion par email</label>
					</td>
				<tr>
					<td colspan="2" class="tcenter">
						<br />
						<input type="submit" value="Créer l'utilisateur" />
						<input type="button" value="Annuler" onclick="history.back();" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>