<div id="content" class="large">
	<div class="item">
		<form action="" method="post">
			<table id="user-form" cellpadding="5" cellspacing="0">
				<colgroup><col width="20%" /></colgroup>
				<tr>
					<td><label for="nickname">Pseudo :</label></td>
					<td>
						<input type="hidden" name="id" value="{$id}" />
						<input id="nickname" type="text" name="nickname" value="{$nickname}" maxlength="30" size="20" />
					</td>
				</tr>
				<tr>
					<td><label for="password">Mot de passe :</label><br />
						<em>Laisser vide pour ne pas effectuer de modification.</em></td>
					<td>
						<input id="password" type="password" name="password" size="20" /><br />
						<input id="password_confirm" type="password" name="password_conf" size="20" />
						<em>(confirmation)</em>
					</td>
				</tr>
				<tr>
					<td><label for="email">Email :</label></td>
					<td><input id="email" type="text" name="email" value="{$email}" size="35" /></td>
				</tr>
				<tr>
					<td><label for="groupe">Groupe :</label></td>
					<td>
						<select id="groupe" name="groupe">
							<option value="0">Aucun groupe</option>
							{for $group in $groups}
								<option value="{$group.id}"{if {$group.id} == {$groupe}} selected="selected"{/if}>{$group.name}</option>
							{/for}
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="type">Type d'utilisateur :</label></td>
					<td>
						<script type="text/javascript">
							function changeType(type) {
								if (type == 'perso') {
									$('#access').show();
								} else {
									$('#access').hide();
								}
							}
						</script>
						<select id="type" name="type" onchange="changeType(this.options[this.selectedIndex].value);">
							<option value="none"{if empty({$access})} selected="selected"{/if}>Simple utilisateur</option>
							<option value="all"{if {$access} == 'all'} selected="selected"{/if}>Administrateur suprême</option>
							<option value="perso"{if !empty({$access}) && {$access} != 'all'} selected="selected"{/if}>Mode personnalisé</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Droits d'accès</strong></td>
					<td>
						<table id="user-rights" cellpadding="0" cellspacing="0">
							<colgroup><col width="25%" /></colgroup>
							{for $app, $details in $admin_apps}
							<tr>
								<td class="tcenter"><strong>{$details.name}</strong></td>
								<td>
									<table class="permissions" cellpadding="0" cellspacing="0">
										<tr class="tcenter">
										{for $perm in {$details.permissions}}
											<td><label>{$perm|ucfirst}<br /><input type="checkbox" name="access[{$perm}]" checked="" /></label></td>
										{/for}
										{empty}
											<td><em>Neither specific permissions, nor admin zone for this app</em></td>
										{/empty}
										</tr>
									</table>
								</td>
							</tr>
							{/for}
						</table>
						
						
						
						<ul id="access"{if empty({$access}) || {$access} == 'all'} class="hidden"{/if}>
							{for $app, $details in $admin_apps}
							<li>
								<input id="{$app}" type="checkbox" name="access[{$app}]"
									{if strpos({$access}, {$app}) !== false} checked="checked"{/if}/>
								<label for="{$app}">{$details.name}</label>
								{%
								{if count({$module.levels}) > 0}
								<select name="level[{$module.name}]">
									{foreach item={$module.levels} as={$level}}
									<option value="{$level.value.id}">{$level.value.name}</option>
									{/foreach}
								</select>
								{/if}
								%}
							</li>
							{/for}
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="tcenter">
						<br />
						<input type="submit" value="Modifier l'utilisateur" />
						<input type="button" value="Annuler" onclick="history.back();" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>