<div class="wity-app wity-app-user wity-action-group-diff">
	<form action="/admin/user/group_diff" method="post">
		<div id="group-diff">
			<h1>{lang Apply new access rights}</h1>

			<p>{lang Do you want to apply new access rights to all users within the group?} (<a href="/admin/user/users?groupe={$group.id}" onclick="window.open(this.href); return false;">{lang %s users|{$count}}</a>)</p>

			<p>
				<a href="/admin/user/group_diff?id={$group.id}&amp;confirm=true" class="btn btn-primary">{lang Apply}</a>
				<a href="/admin/user/groups" class="btn btn-default">{lang Cancel}</a>
			</p>
		</div>
	</form>
</div>
