<div class="wity-app wity-app-user wity-action-listing">
	<div class="row">
		<div class="col-md-9">
		{if !empty({$users_waiting})}
			<h2>{lang waiting}</h2>
			<form id="admin-check-form" action="/admin/user/listing" method="post">
				<table id="admin-check" class="table table-hover table-striped">
					{for $count, $user in $users_waiting}
					<tr class="waiting" data-title="{$user.nickname}" data-content="&lt;ul class='unstyled'&gt;&lt;li&gt;{$user.firstname} {$user.lastname}&lt;/li&gt;&lt;li&gt;{$user.email}&lt;/li&gt;&lt;/ul&gt;">
						<td>{$user.id}</td>
						<td><strong>{$user.nickname}</strong></td>
						<td>{$user.created_date}</td>
						<td>
							<input class="hidden" type="radio" name="admin_check[{$user.id}]" value="validate" />
							<input class="hidden" type="radio" name="admin_check[{$user.id}]" value="refuse" />
							<a class="validate" href="javascript:void(0)" title="{lang validate}"><i class="text-success glyphicon glyphicon-ok"></i></a>
							<a class="refuse" href="javascript:void(0)" title="{lang refuse}"><i class="text-danger glyphicon glyphicon-remove"></i></a>
						</td>
					</tr>
					{/for}
				</table>
				<div id="admin-check-buttons" class="pull-right form-inline">
					<div class="checkbox">
						<label><input type="checkbox" name="notify" checked="checked" /> {lang notify_these_users}</label>
					</div>
					<input id="admin-check-button" class="btn btn-primary" type="submit" value="{lang submit}" />
					<input id="cancel-button" class="btn btn-default" type="button" value="{lang cancel}" />
				</div>
				<div class="clearfix"></div>
			</form>
			<hr />
		{/if}
			
			<h2 class="sr-only">{lang action_listing}</h2>
			<span class="label label-info">{lang users_total|{$stats.total}}</span>
		{if {$stats.request} < {$stats.total}}
			<span class="label label-warning">{lang users_found|{$stats.request}}</span>
		{/if}
			
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><a href="/admin/user/listing/id-{$id_sort}/{$subURL}"><i class="{$id_class}"></i> #</a></th>
						<th><a href="/admin/user/listing/nickname-{$nickname_sort}/{$subURL}"><i class="{$nickname_class}"></i> {lang nickname}</a></th>
						<th><a href="/admin/user/listing/groupe-{$groupe_sort}/{$subURL}"><i class="{$groupe_class}"></i> {lang group}</a></th>
						<th><a href="/admin/user/listing/created_date-{$created_date_sort}/{$subURL}"><i class="{$created_date_class}"></i> {lang register_time}</a></th>
						<th><a href="/admin/user/listing/last_activity-{$last_activity_sort}/{$subURL}"><i class="{$last_activity_class}"></i> {lang last_connection}</a></th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{for $count, $user in $users}
					<tr>
						<td>{$user.id}</td>
						<td><strong>{$user.nickname}</strong></td>
						<td>{$user.groupe_name}</td>
						<td>{$user.created_date}</td>
						<td>{$user.last_activity}</td>
						<td>
							<a href="/admin/user/edit/{$user.id}" class="black" title="{lang edit}"><i class="glyphicon glyphicon-edit"></i></a>
							{if {$user.id} != $_SESSION['userid']}<span title="{lang article_delete}" class="link" data-link-modal="/v/admin/user/delete/{$user.id}" data-modal-container="modal_delete"><i class="glyphicon glyphicon-trash"></i></span>{/if}
						</td>
					</tr>
					{/for}
					{empty}
					<tr>
						<td colspan="6" class="text-center">{lang no_user_found}</td>
					</tr>
					{/empty}
				</tbody>
			</table>
			{$pagination}

		</div>

		<div class="col-md-3">
			<div id="search" class=" well well-sm">
				<h4 class="text-center">{lang search}</h4>
				<form action="/admin/user/listing" method="get" class="form-horizontal">
					<div class="form-group">
						<label for="nickname" class="control-label col-lg-5"><strong>{lang nickname}:</strong></label>
						<div class="col-lg-7">
							<input id="nickname" class="form-control" type="text" name="nickname" value="{$nickname}" />
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="control-label col-lg-5">{lang email}:</label>
						<div class="col-lg-7">
							<input id="email" class="form-control" type="text" name="email" value="{$email}" />
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="control-label col-lg-5">{lang firstname}:</label>
						<div class="col-lg-7">
							<input id="firstname" class="form-control" type="text" name="firstname" value="{$firstname}" />
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="control-label col-lg-5">{lang lastname}:</label>
						<div class="col-lg-7">
							<input id="lastname" class="form-control" type="text" name="lastname" value="{$lastname}" />
						</div>
					</div>
					<div class="form-group">
						<label for="groupe" class="control-label col-lg-5">{lang group}:</label>
						<div class="col-lg-7">
							<select id="groupe" class="form-control" name="groupe">
								<option value=""></option>
								{for $group in $groups}
								<option value="{$group.id}"{if {$groupe} == {$group.id}} selected="selected"{/if}>{$group.name}</option>
								{/for}
							</select>
						</div>
					</div>
					<input type="submit" class="btn btn-default btn-block" value="Filtrer" />
				</form>
			</div>
		</div>
	</div>

	<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_delete" aria-hidden="true"></div>
</div>
