<div class="wity-app wity-app-contact wity-action-form">
	<form action="/contact" method="post" enctype="multipart/form-data" class="form-horizontal">
		<div class="form-group">
			<label for="from-name" class="col-md-2 control-label">{lang Name}*</label>
			<div class="col-md-10">
				<input type="text" maxlength="200" class="form-control" id="from-name" name="from_name" placeholder="{lang Name}" value="{$from_name}">
			</div>
		</div>

		<div class="form-group">
			<label for="from-company" class="col-md-2 control-label">{lang Organization}</label>
			<div class="col-md-10">
				<input type="text" maxlength="200" class="form-control" id="from-company" name="from_company" placeholder="{lang Organization}">
			</div>
		</div>

		<div class="form-group">
			<label for="from-email" class="col-md-2 control-label">{lang Email}*</label>
			<div class="col-md-10">
				<input type="email" maxlength="300" class="form-control" id="from-email" name="from_email" placeholder="{lang Email}" value="{$from_email}">
			</div>
		</div>

		<hr/>

		<div class="form-group">
			<label for="email-subject" class="col-md-2 control-label">{lang Subject}*</label>
			<div class="col-md-10">
				<input type="text" maxlength="500" class="form-control" id="email-subject" name="email_subject" placeholder="{lang Subject}">
			</div>
		</div>

		<div class="form-group">
			<label for="email-message" class="col-md-2 control-label">{lang Message}*</label>
			<div class="col-md-10">
				<textarea rows="12" cols="100" class="form-control" id="email-message" name="email_message" placeholder="{lang Message}"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-10 col-md-offset-2">
				<div class="upload-input">
					<input type="file" class="upload-document-input" name="document" />
				</div>

				<button type="button" class="upload-document-delete btn btn-default hidden">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {lang Document} -<span class="text"></span>
				</button>

				<button type="button" class="upload-document btn btn-default">{lang Upload a document}</button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default" data-loading-text="{lang Sending...}" data-witycms-submit="ajax">{lang Send}</button>
			</div>
		</div>
	</form>
</div>
