<div class="wity-app-contact wity-action-mail-history">
	<h1>{lang Inbox}</h1>
	<span class="label label-info">{lang %s emails|{$totalEmails}}</span>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th><a href="/admin/contact/mail_history/from-{$from_sort}"><i class="{$from_class}"></i> {lang From}</a></th>
				<th><a href="/admin/contact/mail_history/object-{$object_sort}"><i class="{$object_class}"></i> {lang Subject}</a></th>
				<th><a href="/admin/contact/mail_history/created_date-{$created_date_sort}"><i class="{$created_date_class}"></i> {lang Date}</a></th>
			</tr>
		</thead>
		<tbody>
			{for $mail in $emails}
			<tr data-link-modal="/v/admin/contact/mail_detail/{$mail.id}" data-modal-container="modal_email">
				<td><strong>{$mail.from}</strong></td>
				<td>
					<table class="email-abstract">
						<tbody>
							<tr>
								<td>{$mail.abstract}</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="date-cell">{$mail.created_date}</td>
			</tr>
			{/for}
			{empty}
			<tr>
				<td colspan="6" class="text-center">{lang No email found.}</td>
			</tr>
			{/empty}
		</tbody>
	</table>
	{$pagination}

	<div id="modal_email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_email_label" aria-hidden="true"></div>
</div>
