
# Use utf8 by default
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	# Activate rewriting
	RewriteEngine on

	# Rule to redirect on www site
	#RewriteCond %{HTTP_HOST} ^site\.com$
	#RewriteRule ^(.*) http://www.site.com/$1 [QSA,L,R=301]

	# Redirect everything but a physical file to wityCMS
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php [L]
</IfModule>
