<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		
		<title>{$page_title}</title>
		
		<meta name="Language" content="fr" />
		<meta name="Robots" content="nofollow" />
		<meta http-equiv="Pragma" content="no-cache" />
		<link href="/themes/admin/styles/style.css" rel="stylesheet" title="admin style" type="text/css" media="screen" />
		{if isset({$css})}{$css}{/if}
		<script type="text/javascript" src="/themes/admin/javascript/jquery-1.5.2.js"></script> 
		{if isset({$js})}{$js}{/if}
	</head>
	<body>
		<div class="wrapper">
			<div id="header">
				<div id="title">
					<h1><a href="/">{$site_name}</a></h1>
					<p>Wity<span>CMS</span><br />
					<em>Bienvenue {$userNickname}</em></p>
				</div>
				<div id="logout">
					<a href="/user/deconnexion/" title="déconnexion">déconnexion</a>
					<img class="hidden" src="/themes/admin/images/logout-on.jpg" alt="déconnexion" />
				</div>
				<div class="clear"></div>
			</div>
			<div id="nav">
				<div class="inner">
					<ul id="modules">
						{for $app, $details in $appsList}
							<li{if {$app} == {$appSelected}} class="hover"{/if}>
								<div><a href="/admin/{$app}/">{$details.name}</a></div></li>
						{/for}
					</ul>
					<ul id="actions">
						{for $action, $desc in $actionsList}
							{if {$desc.menu}}
							<li class="{if {$action} == {$actionAsked}}on{/if}">
								<a href="/admin/{$appSelected}/{$action}/">{$desc.lang}</a></li>
							{/if}
						{/for}
					</ul>
					<div class="sub">
						<p>Votre position actuelle est : <span class="app">{$appsList.{$appSelected}.name}</span>
						{if isset({$actionsList.{$actionAsked}})} . <span class="action">{$actionsList.{$actionAsked}.lang}</span>{/if}</p>
						<!--<form id="search" action="" method="post"><div>
							<input type="text" name="search" value="recherche" onclick="this.value = '';" size="15" />
							<input class="img" type="image" src="/themes/admin/images/search.jpg" alt="Rechercher" />
						</div></form>-->
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<div id="body">
				{$notes}
				{include {$include}}
			</div>
			<div id="footer" class="tcenter">
				<span>Wity© Administration 2013</span>
			</div>
		</div>
	</body>
</html>
