<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<title>{$pageTitle}</title>
		<meta name="Language" content="fr" />
		<meta name="Robots" content="nofollow" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="/themes/admin/styles/style.css" rel="stylesheet" title="admin style" type="text/css" media="screen" />
		{if isset({$css})}{$css}{/if}
		<script type="text/javascript" src="/themes/admin/javascript/jquery-1.5.2.js"></script> 
		{if isset({$js})}{$js}{/if}
	</head>
	<body>
		<div class="wrapper">
			<div id="header">
				<div id="title">
					<h1><a href="/">{$siteName}</a></h1>
					<p>Wity <span>CMS</span><br />
					<em>Bienvenue {$userNickname}</em></p>
				</div>
				<div id="logout">
					<a href="/user/deconnexion/" title="déconnexion">déconnexion</a>
					<img class="preload" src="/themes/admin/images/logout-on.jpg" alt="déconnexion" />
				</div>
				<div class="clear"></div>
			</div>
			<div id="nav">
				<div class="inner">
					<ul id="modules">
						{foreach item={$appList} as={$app}}
							<li{if {$app.value} == {$appSelected}} class="hover"{/if}>
								<div><a href="/admin/{$app.value}/">{$app.value}</a></div></li>
						{/foreach}
					</ul>
					<ul id="actions">
						{foreach item={$actionShownList} as={$act}}
							<li class="{if {$act.key} == @{$actionForwarded}}on{/if} {if {$act.count} == 0}first{/if}">
								<a href="/admin/{$appSelected}/{if {$act.key} != 'index'}{$act.key}/{/if}">{$act.value}</a></li>
						{/foreach}
					</ul>
					<div class="sub">
						<p>Votre position actuelle est : <span class="app">{$appSelected}</span>
						{if @isset({$actionList}[{$actionForwarded}])} . <span class="action">{$actionList.{$actionForwarded}}</span>{/if}</p>
						<!--<form id="search" action="" method="post"><div>
							<input type="text" name="search" value="recherche" onclick="this.value = '';" size="15" />
							<input class="img" type="image" src="/themes/admin/images/search.jpg" alt="Rechercher" />
						</div></form>-->
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<div id="body">
				{include file={$include}}
			</div>
			<div id="footer" class="tcenter">
				<br />Merci de rapporter tout dysfonctionnement au pôle informatique<br />
				Réalisation 2011<br /><br />
			</div>
		</div>
	</body>
</html>
