<div class="wity-app wity-app-user wity-action-login">
	<form action="/user/login/" method="post">
		<h2>{lang login_form_title}</h2>

		<input type="hidden" name="redirect" value="{$redirect}" />

		<div class="form-group">
			<label class="sr-only" for="nickname">{lang nickname}</label>
			<input type="text" class="form-control" name="nickname" placeholder="{lang nickname}" />
		</div>

		<div class="form-group">
			<label class="sr-only" for="password">{lang password}</label>
			<input type="password" class="form-control" name="password" placeholder="{lang password}" />
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember" name="remember" checked="checked" onclick="if (this.checked) document.getElementById('more-options').className = ''; else document.getElementById('more-options').className = 'show';" /> {lang always_remain_connected}
			</label>
		</div>

		<div id="more-options">
			<div class="form-group">
				<label for="minutes">{lang remain_connected_for}</label>
				<div class="input-group">
					<input id="minutes" class="form-control" type="number" name="time" min="1" value="60" />
					<span class="input-group-addon">{lang minutes}</span>
				</div>
			</div>
		</div>

		<p><a href="/user/password-lost/">{lang password_lost}</a></p>

		<input class="btn btn-lg btn-primary btn-block" type="submit" value="{lang login_button}" />

		{if {$config.register}}
		<br />

		<p class="text-center"><a href="/user/register/">{lang register_form_title}</a></p>
		{/if}
	</form>
</div>
