<div class="wity-app wity-app-user wity-action-register">
	<h2>{lang Create a new account}</h2>

	<form action="/user/register" method="post">
		<div class="form-group">
			<label class="sr-only" for="nickname">{lang Nickname}*</label>
			<input id="nickname" type="text" class="form-control" name="nickname" placeholder="{lang Nickname}" value="{$nickname}" />
		</div>

		<div class="form-group">
			<label class="sr-only" for="email">{lang Email}*</label>
			<input id="email" type="email" class="form-control" name="email" placeholder="{lang Email}" value="{$email}" />
		</div>

		<div class="form-group">
			<label class="sr-only" for="password">{lang Password}*</label>
			<input id="password" type="password" name="password" class="form-control signup-main signup-password" placeholder="{lang Password}" />

			<label class="sr-only" for="password_conf">{lang Password (confirmation)}*</label>
			<input id="password_conf" type="password" name="password_conf" class="form-control signup-main signup-confirm" placeholder="{lang Password (confirmation)}" />
		</div>
		<hr/>
		<div class="form-group">
			<label class="sr-only" for="firstname">{lang Firstname}</label>
			<input id="firstname" type="text" class="form-control" name="firstname" placeholder="{lang Firstname}" value="{$firstname}" />
		</div>

		<div class="form-group">
			<label class="sr-only" for="lastname">{lang Lastname}</label>
			<input id="lastname" type="text" class="form-control" name="lastname" placeholder="{lang Lastname}" value="{$lastname}" />
		</div>

		<div class="form-group">
			<label class="sr-only" for="country">{lang Country}</label>

			<div class="input-group">
				<span id="flag-container" class="input-group-addon">?</span>
				<select id="country" class="form-control" name="country" onchange="changeCountry(this.options[this.selectedIndex].value);">
					<option value="0">{lang Country}</option>
					<option>France</option>
					<option>United-Kingdom</option>
					{for $cntry in glob('themes/system/images/flags/*')}
						{set $cntry = substr({$cntry|basename}, 0, -4)}
						<option{if {$cntry} == {$country}} selected="selected"{/if}>{$cntry}</option>
					{/for}
				</select>
			</div>
		</div>

		<div class="form-group">
			<input type="submit" class="btn btn-primary btn-block" value="{lang Register}" />
		</div>
	</form>

	<script type="text/javascript">
		function changeCountry(country) {
			if (country != 0) {
				var container, src = wity_base_url+'/themes/system/images/flags/'+country+'.gif';
				if (document.getElementById('flag') != null) {
					document.getElementById('flag').setAttribute('src', src);
				} else {
					var img = document.createElement('img');
					img.setAttribute('id', 'flag');
					img.setAttribute('src', src);
					container = document.getElementById('flag-container');
					if (container.firstChild) {
						container.removeChild(container.firstChild);
					}
					container.appendChild(img);
				}
			} else {
				document.getElementById('flag-container').removeChild(document.getElementById('flag'));
				document.getElementById('flag-container').innerHTML = '?';
			}
		}
	</script>
</div>
