<div class="wity-app wity-app-user wity-action-reset-password">
	<h2>{lang Reset your password}</h2>
	<p class="text-muted">{lang Chose a new password:}</p>

	<form action="/user/password_lost" method="post">
		<input type="hidden" name="email" value="{$email}" />
		<input type="hidden" name="confirm" value="{$confirm}" />

		<div class="form-group">
			<label class="sr-only" for="new_password">{lang Password}*</label>
			<input id="new_password" type="password" name="new_password" class="form-control lost-main lost-new-password" placeholder="{lang Password}" />
		</div>

		<div class="form-group">
			<label class="sr-only" for="new_password_conf">{lang Password (confirmation)}*</label>
			<input id="new_password_conf" type="password" name="new_password_conf" class="form-control lost-main lost-new-confirm" placeholder="{lang Password (confirmation)}" />
		</div>

		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="{lang Submit}" />
		</div>
	</form>
</div>
