<div id="password-lost-resetting">
	<h2>{lang reset_password}</h2>
	<p>{lang chose_new_password}</p>
	<form action="/user/password-lost/" method="post">
		<p class="text-center">
			<input type="hidden" name="email" value="{$email}" />
			<input type="hidden" name="confirm" value="{$confirm}" />
			<input type="password" name="new_password" value="" /><br />
			<input type="password" name="new_password_conf" value="" /><br />
			<input type="submit" value="{lang submit}" />
		</p>
	</form>
</div>
