<div class="wity-app wity-app-search wity-action-form">
	<h1>{lang Research} {if !empty({$query})}<strong>"{!$query!}"</strong>{/if}</h1>

	<form class="search-form" action="/search" method="get">
		<p class="input-group research">
			<input class="form-control" type="text" name="query" placeholder="{lang Search}" value="{if !empty({$query})}{!$query!}{/if}" />
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</p>
	</form>

{for $app, $app_result in $results}
	{if !empty({$app_result})}
	<h2>{$app|ucwords}</h2>
	<dl>
		{for $result in $app_result}
		<dt>
			<a href="{$result.url}">{$result.title}</a><br />
			{lang Address:} {$result.url}
		</dt>
		<dd>{$result.description}</dd>
		{/for}
	</dl>
	{/if}
{/for}
{empty}
	<p>{lang No result was found.}</p>
{/empty}
</div>
