<!DOCTYPE html>
<html lang="en">
	<head>
		<title>wityCMS Installer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="installer/img/witycms-icon.png" />

		<link type="text/css" rel="stylesheet" href="libraries/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="installer/css/style.css" />

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="libraries/IE-compatibility/html5shiv.min.js"></script>
			<script src="libraries/IE-compatibility/respond.min.js"></script>
		<![endif]-->

		<script type="text/javascript" src="libraries/jquery3/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="libraries/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="installer/js/form.js"></script>
		<script type="text/javascript" src="installer/js/installer.js"></script>
	</head>
	<body>
		<div class="form-container container">
			<header class="installer-header">
				<div class="pull-right">
					<a href="https://github.com/Creatiwity/wityCMS/wiki" target="_blank"><img src="installer/img/question.png" alt="Help"></a>
				</div>

				<!-- wityCMS logo -->
				<img src="themes/system/images/witycms-logo.png" alt="wityCMS" class="img-responsive" />
			</header>
			<hr>

			<div class="row">
				<div class="col-md-12" data-wity-form-alert="witycms"></div>
			</div>

			<div class="row" data-wity-form-witycms-onsuccess="hide" data-wity-form-witycms-onerror="hide">
				<div class="col-md-12">
					<div class="form-nav-bar">
						<div class="bar gray-bar" style="top: 35px; left: 12.5px; width: 0px;"></div>
						<div class="bar active-bar" style="top: 35px; left: 12.5px; width: 0px;"></div>
					</div>

					<ul class="nav form-nav list-unstyled" data-wity-form-tabs="witycms"></ul>

					<div class="tab-content" data-wity-form-content="witycms"></div>

					<div class="clearfix"></div>
					<p>*Those fields are mandatory to validate wityCMS installation.</p>
				</div>
			</div>

			<div class="submit-button hidden">
				<button type="button" class="btn btn-primary btn-lg pull-right" data-wity-form-submit="witycms" autocomplete="off" data-loading-text="Loading..." data-remaining-text="Launch install" data-error-text="Error!" autocomplete="off">Launch install!</button>
			</div>

			<div class="row" data-wity-form-debug="witycms"></div>

			<div class="row hide" data-wity-form-witycms-onsuccess="show">
				<div class="jumbotron">
					<img src="installer/img/congratulations.png" alt="OK" class="pull-right" />

					<h1>Congratulations</h1>
					<p>The installation of wityCMS is completed!<br />
						Please, make sure the directory <strong>/installer/</strong> is deleted from your server.</p>
					<p>You can either connect to your home page, or the administration panel:</p>
					<p>
						<a href="" class="btn btn-primary btn-lg">Home</a>
						<a href="admin" class="btn btn-warning btn-lg">Administration</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
