<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width" />
		<title>WityCMS Installer</title>
		<link rel="shortcut icon" href="./installer/favicon.ico" />
		<link rel="icon" type="image/png" href="./installer/favicon.png" />
		<link type="text/css" rel="stylesheet" href="./installer/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="./installer/css/style.css" />
		<!--[if lt IE 9]>
			<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript" src="./installer/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="./installer/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./installer/js/script.js"></script>
	</head>

	<body>
		<div class="container" data-wity-installer="witycms">
			<div class="row-fluid">
				<div class="span6 offset3">
					<!-- WityCMS logo -->
					<img src="http://placehold.it/570x200&text=WityCMS logo"/>
				</div>
			</div>
			<hr/>
			<div class="row-fluid">
				<div class="span8 offset2" data-wity-installer-alert="witycms"></div>
			</div>
			<div class="row-fluid" data-hide-onsuccess="witycms">
				<div class="span3 offset2">
					<button type="button" class="btn btn-primary btn-large btn-block" data-wity-installer-submit="witycms" autocomplete="off" data-loading-text="Loading..." data-remaining-text="Fill in the fields" data-error-text="Fatal Error !">Here we go !</button>
					<br/>
					<div class="well special-well">
						<ul class="unstyled" data-wity-installer-summary="witycms">

						</ul>
					</div>
				</div>
				<div class="span5">
					<div class="well special-well">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#site_configuration_tab" data-toggle="tab"><i data-wity-installer-step-status="site"></i> Site</a></li>
							<li><a href="#db_configuration_tab" data-toggle="tab"><i data-wity-installer-step-status="database"></i> Database</a></li>
							<li><a href="#admin_configuration_tab" data-toggle="tab"><i data-wity-installer-step-status="user"></i> Administrator</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="site_configuration_tab" data-wity-installer-step="site" data-wity-name="Site">
								<fieldset class="form-horizontal">
									<div data-wity-group-alert="site_name"></div>
									<div class="control-group">
										<label class="control-label" for="site_name">Site name</label>
										<div class="controls">
											<input type="text" id="site_name" name="site_name" data-wity-installer-group="site_name" data-wity-name="Site name" data-wity-validate-regexp="/.+/" data-wity-regexp-message="Site name must be an alphanumeric value" data-wity-required="true"/>
										</div>
									</div>
									<div data-wity-group-alert="base_url"></div>
									<div class="control-group">
										<label class="control-label" for="base">Base URL</label>
										<div class="controls">
											<input type="url" id="base" name="base" data-wity-installer-group="base_url" data-wity-name="Base URL" data-wity-validate-regexp="#^(http|https|ftp)\://[A-Z0-9][A-Z0-9_-]*(\.[A-Z0-9][A-Z0-9_-]*)*(/[A-Z0-9~\._-]+)*/?$#i" data-wity-regexp-message="Base URL must be a valid URL" data-wity-required="true"/>
										</div>
									</div>
									<div data-wity-group-alert="theme"></div>
									<div class="control-group">
										<label class="control-label" for="theme">Theme</label>
										<div class="controls">
											<input type="text" id="theme" data-wity-autocomplete="GET_THEMES" name="theme" autocomplete="off" data-wity-name="Theme" data-wity-installer-group="theme" data-wity-required="true"/>
										</div>
									</div>
									<div data-wity-group-alert="language"></div>
									<div class="control-group">
										<label class="control-label" for="lang">Language</label>
										<div class="controls">
											<select name="lang" id="lang" data-wity-name="Language" data-wity-required="true" data-wity-installer-group="language">
												<option selected="selected">en-EN</option>
												<option selected="selected">fr-FR</option>
											</select>
										</div>
									</div>
									<hr/>
									<div data-wity-group-alert="front_app"></div>
									<div class="control-group">
										<label class="control-label" for="default">Front app.</label>
										<div class="controls">
											<input type="text" id="default" data-wity-name="Front app." data-wity-autocomplete="GET_FRONT_APPS" name="default" autocomplete="off" data-wity-installer-group="front_app" data-wity-required="true"/>
										</div>
									</div>
									<div data-wity-group-alert="admin_app"></div>
									<div class="control-group">
										<label class="control-label" for="admin">Admin app.</label>
										<div class="controls">
											<input type="text" id="admin" data-wity-name="Admin app." data-wity-autocomplete="GET_ADMIN_APPS" name="admin" autocomplete="off" data-wity-installer-group="admin_app" data-wity-required="true"/>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="tab-pane" id="db_configuration_tab" data-wity-installer-step="database" data-wity-name="Database">
								<fieldset class="form-horizontal">
									<div data-wity-group-alert="db_credentials"></div>
									<div class="control-group">
										<label class="control-label" for="server">Server</label>
										<div class="controls">
											<input type="text" id="server" name="server" data-wity-name="Credentials" data-wity-installer-group="db_credentials" data-wity-required="true"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="port">Port</label>
										<div class="controls">
											<input type="number" id="port" name="port" placeholder="3306" data-wity-installer-group="db_credentials" data-wity-validate-regexp="/^[0-9]*/" data-wity-regexp-message="Database port must be a number"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="user">Login</label>
										<div class="controls">
											<input type="text" id="user" name="user" data-wity-installer-group="db_credentials" data-wity-required="true"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="pw">Password</label>
										<div class="controls">
											<input type="password" id="pw" name="pw" data-wity-installer-group="db_credentials"/>
										</div>
									</div>
									<hr/>
									<div data-wity-group-alert="db_name"></div>
									<div class="control-group">
										<label class="control-label" for="dbname">Database name</label>
										<div class="controls">
											<input type="text" id="dbname" name="dbname" data-wity-name="Database name" data-wity-installer-group="db_name" data-wity-required="true" data-wity-require-groups="db_credentials"/>
										</div>
									</div>
									<div data-wity-group-alert="tables_prefix"></div>
									<div class="control-group">
										<label class="control-label" for="prefix">Table prefix</label>
										<div class="controls">
											<input type="text" id="prefix" name="prefix" data-wity-name="Tables prefix" data-wity-installer-group="tables_prefix" data-wity-require-groups="db_credentials db_name"/>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="tab-pane" id="admin_configuration_tab"  data-wity-installer-step="user" data-wity-name="User">
								<fieldset class="form-horizontal">
									<div data-wity-group-alert="nickname"></div>
									<div class="control-group">
										<label class="control-label" for="nickname">Pseudo</label>
										<div class="controls">
											<input type="text" id="nickname" name="nickname" data-wity-name="Nickname" data-wity-installer-group="nickname" data-wity-validate-regexp="/^[a-zA-Z0-9]([a-zA-Z0-9])*$/i" data-wity-required="true" data-wity-regexp-message="The nickname must be an alphanumeric value."/>
										</div>
									</div>
									<div data-wity-group-alert="password"></div>
									<div class="control-group">
										<label class="control-label" for="password">Password</label>
										<div class="controls">
											<input type="password" id="password" name="password" data-wity-name="Password" data-wity-installer-group="password" data-wity-required="true"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="confirm"><em>Confirmation</em></label>
										<div class="controls">
											<input type="password" id="confirm" name="confirm" data-wity-installer-group="password" data-wity-required="true" data-wity-validate-equals="password" data-wity-equals-message="Password and confirmation are different."/>
										</div>
									</div>
									<div data-wity-group-alert="email"></div>
									<div class="control-group">
										<label class="control-label" for="email">Email</label>
										<div class="controls">
											<input type="email" id="email" name="email" data-wity-name="Email" data-wity-installer-group="email" data-wity-validate-regexp="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i" data-wity-required="true" data-wity-regexp-message="This email is not valid."/>
										</div>
									</div>
									<hr/>
									<div data-wity-group-alert="firstname"></div>
									<div class="control-group">
										<label class="control-label" for="firstname">Firstname</label>
										<div class="controls">
											<input type="text" id="firstname" name="firstname" data-wity-name="Firstname" data-wity-installer-group="firstname" data-wity-validate-regexp="/^[A-Z]?'?[- a-zA-Z]( [a-zA-Z])*$/i" data-wity-regexp-message="The firstname is not valid."/>
										</div>
									</div>
									<div data-wity-group-alert="lastname"></div>
									<div class="control-group">
										<label class="control-label" for="lastname">Lastname</label>
										<div class="controls">
											<input type="text" id="lastname" name="lastname" data-wity-name="Lastname" data-wity-installer-group="lastname" data-wity-validate-regexp="/^[A-Z]?'?[- a-zA-Z]( [a-zA-Z])*$/i" data-wity-regexp-message="The lastname is not valid."/>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid hide" data-show-onsuccess="witycms">
				<div class="hero-unit">
  					<h1>Congratulations</h1>
  					<p>You just finished the installation successfully !</p>
  					<p>
    					<a class="btn btn-primary btn-large">
      						Administration
    					</a>
  					</p>
				</div>
			</div>
		</div>
	</body>

</html>