<!doctype html>
<html lang="en">
	<head>
		<title>WityCMS Installer</title>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="installer/favicon.ico" />
		<link rel="icon" type="image/png" href="installer/favicon.png" />
		
		<link type="text/css" rel="stylesheet" href="libraries/bootstrap-2.3.2/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="libraries/bootstrap-2.3.2/css/bootstrap-responsive.min.css" />
		<link type="text/css" rel="stylesheet" href="installer/css/style.css" />
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="libraries/IE-compatibility/html5shiv.js"></script>
			<script src="libraries/IE-compatibility/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="libraries/jquery-1.10.2/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="libraries/bootstrap-2.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="installer/js/script.js"></script>
	</head>
	<body>
		<div class="container" data-wity-installer="witycms">
			<div class="row-fluid text-center">
				<div class="span12 logo">
					<!-- WityCMS logo -->
					<img src="themes/system/images/wity_logo.png" alt="WityCMS" />
				</div>
			</div>
			<hr />
			<div class="row-fluid">
				<div class="span8 offset2" data-wity-installer-alert="witycms"></div>
			</div>
			<div class="row-fluid" data-hide-onsuccess="witycms">
				<div class="span3 offset2">
					<button type="button" class="btn btn-primary btn-large btn-block" data-wity-installer-submit="witycms" autocomplete="off" data-loading-text="Loading..." data-remaining-text="Fill in the fields" data-error-text="Fatal Error !">Here we go !</button>
					<br />
					<div class="well special-well">
						<ul class="unstyled" data-wity-installer-summary="witycms"></ul>
					</div>
				</div>
				<div class="span5">
					<div class="well special-well">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#site_configuration_tab" data-toggle="tab"><i data-wity-installer-step-status="site"></i> Site</a></li>
							<li><a href="#db_configuration_tab" data-toggle="tab"><i data-wity-installer-step-status="database"></i> Database</a></li>
							<li><a href="#admin_configuration_tab" data-toggle="tab"><i data-wity-installer-step-status="user"></i> Administrator</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="site_configuration_tab" data-wity-installer-step="site" data-wity-name="Site">
								<fieldset class="form-horizontal">
									<div data-wity-group-alert="site_name"></div>
									<div class="control-group">
										<label class="control-label" for="site_name">Site name</label>
										<div class="controls">
											<input type="text" id="site_name" name="site_name" data-wity-installer-group="site_name" data-wity-name="Site name" data-wity-validate-regexp=".+" data-wity-regexp-message="Site name must be an alphanumeric value" data-wity-required="true" />
										</div>
									</div>
									<div data-wity-group-alert="base_url"></div>
									<div class="control-group">
										<label class="control-label" for="base">Base URL</label>
										<div class="controls">
											<input type="url" id="base" name="base" data-wity-installer-group="base_url" data-wity-name="Base URL" data-wity-validate-regexp="^(http|https|ftp)\:\/\/[A-Z0-9][A-Z0-9_-]*(\.[A-Z0-9][A-Z0-9_-]*)*(\/[A-Z0-9~\._-]+)*\/?$" data-wity-regexp-message="Base URL must be a valid URL" data-wity-required="true" data-wity-validate-init="true" />
										</div>
									</div>
									<div data-wity-group-alert="theme"></div>
									<div class="control-group">
										<label class="control-label" for="theme">Theme</label>
										<div class="controls">
											<input type="text" id="theme" data-wity-autocomplete="GET_THEMES" name="theme" autocomplete="off" data-wity-name="Theme" data-wity-installer-group="theme" data-wity-required="true" />
										</div>
									</div>
									<div data-wity-group-alert="language"></div>
									<div class="control-group">
										<label class="control-label" for="lang">Language</label>
										<div class="controls">
											<select name="lang" id="lang" data-wity-name="Language" data-wity-required="true" data-wity-installer-group="language" data-wity-validate-init="true">
												<option value="en-EN" selected="selected">English (en-EN)</option>
												<option value="fr-FR" selected="selected">Français (fr-FR)</option>
											</select>
										</div>
									</div>
									<div data-wity-group-alert="timezone"></div>
									<div class="control-group">
										<label class="control-label" for="timezone">Timezone</label>
										<div class="controls">
											<select name="timezone" id="timezone" data-wity-name="Timezone" data-wity-required="true" data-wity-installer-group="timezone" data-wity-validate-init="true">
												<option value="Pacific/Midway">(UTC-11:00) Midway Island</option>
												<option value="Pacific/Samoa">(UTC-11:00) Samoa</option>
												<option value="Pacific/Honolulu">(UTC-10:00) Hawaii</option>
												<option value="US/Alaska">(UTC-09:00) Alaska</option>
												<option value="America/Los_Angeles">(UTC-08:00) Pacific Time (US &amp; Canada)</option>
												<option value="America/Tijuana">(UTC-08:00) Tijuana</option>
												<option value="US/Arizona">(UTC-07:00) Arizona</option>
												<option value="America/Chihuahua">(UTC-07:00) Chihuahua</option>
												<option value="America/Chihuahua">(UTC-07:00) La Paz</option>
												<option value="America/Mazatlan">(UTC-07:00) Mazatlan</option>
												<option value="US/Mountain">(UTC-07:00) Mountain Time (US &amp; Canada)</option>
												<option value="America/Managua">(UTC-06:00) Central America</option>
												<option value="US/Central">(UTC-06:00) Central Time (US &amp; Canada)</option>
												<option value="America/Mexico_City">(UTC-06:00) Guadalajara</option>
												<option value="America/Mexico_City">(UTC-06:00) Mexico City</option>
												<option value="America/Monterrey">(UTC-06:00) Monterrey</option>
												<option value="Canada/Saskatchewan">(UTC-06:00) Saskatchewan</option>
												<option value="America/Bogota">(UTC-05:00) Bogota</option>
												<option value="US/Eastern">(UTC-05:00) Eastern Time (US &amp; Canada)</option>
												<option value="US/East-Indiana">(UTC-05:00) Indiana (East)</option>
												<option value="America/Lima">(UTC-05:00) Lima</option>
												<option value="America/Bogota">(UTC-05:00) Quito</option>
												<option value="Canada/Atlantic">(UTC-04:00) Atlantic Time (Canada)</option>
												<option value="America/Caracas">(UTC-04:30) Caracas</option>
												<option value="America/La_Paz">(UTC-04:00) La Paz</option>
												<option value="America/Santiago">(UTC-04:00) Santiago</option>
												<option value="Canada/Newfoundland">(UTC-03:30) Newfoundland</option>
												<option value="America/Sao_Paulo">(UTC-03:00) Brasilia</option>
												<option value="America/Argentina/Buenos_Aires">(UTC-03:00) Buenos Aires</option>
												<option value="America/Argentina/Buenos_Aires">(UTC-03:00) Georgetown</option>
												<option value="America/Godthab">(UTC-03:00) Greenland</option>
												<option value="America/Noronha">(UTC-02:00) Mid-Atlantic</option>
												<option value="Atlantic/Azores">(UTC-01:00) Azores</option>
												<option value="Atlantic/Cape_Verde">(UTC-01:00) Cape Verde Is.</option>
												<option value="Africa/Casablanca">(UTC+00:00) Casablanca</option>
												<option value="Europe/London">(UTC+00:00) Edinburgh</option>
												<option value="Etc/Greenwich">(UTC+00:00) Greenwich Mean Time : Dublin</option>
												<option value="Europe/Lisbon">(UTC+00:00) Lisbon</option>
												<option value="Europe/London">(UTC+00:00) London</option>
												<option value="Africa/Monrovia">(UTC+00:00) Monrovia</option>
												<option value="UTC">(UTC+00:00) UTC</option>
												<option value="Europe/Amsterdam">(UTC+01:00) Amsterdam</option>
												<option value="Europe/Belgrade">(UTC+01:00) Belgrade</option>
												<option value="Europe/Berlin">(UTC+01:00) Berlin</option>
												<option value="Europe/Berlin">(UTC+01:00) Bern</option>
												<option value="Europe/Bratislava">(UTC+01:00) Bratislava</option>
												<option value="Europe/Brussels">(UTC+01:00) Brussels</option>
												<option value="Europe/Budapest">(UTC+01:00) Budapest</option>
												<option value="Europe/Copenhagen">(UTC+01:00) Copenhagen</option>
												<option value="Europe/Ljubljana">(UTC+01:00) Ljubljana</option>
												<option value="Europe/Madrid">(UTC+01:00) Madrid</option>
												<option value="Europe/Paris" selected="selected">(UTC+01:00) Paris</option>
												<option value="Europe/Prague">(UTC+01:00) Prague</option>
												<option value="Europe/Rome">(UTC+01:00) Rome</option>
												<option value="Europe/Sarajevo">(UTC+01:00) Sarajevo</option>
												<option value="Europe/Skopje">(UTC+01:00) Skopje</option>
												<option value="Europe/Stockholm">(UTC+01:00) Stockholm</option>
												<option value="Europe/Vienna">(UTC+01:00) Vienna</option>
												<option value="Europe/Warsaw">(UTC+01:00) Warsaw</option>
												<option value="Africa/Lagos">(UTC+01:00) West Central Africa</option>
												<option value="Europe/Zagreb">(UTC+01:00) Zagreb</option>
												<option value="Europe/Athens">(UTC+02:00) Athens</option>
												<option value="Europe/Bucharest">(UTC+02:00) Bucharest</option>
												<option value="Africa/Cairo">(UTC+02:00) Cairo</option>
												<option value="Africa/Harare">(UTC+02:00) Harare</option>
												<option value="Europe/Helsinki">(UTC+02:00) Helsinki</option>
												<option value="Europe/Istanbul">(UTC+02:00) Istanbul</option>
												<option value="Asia/Jerusalem">(UTC+02:00) Jerusalem</option>
												<option value="Europe/Helsinki">(UTC+02:00) Kyiv</option>
												<option value="Africa/Johannesburg">(UTC+02:00) Pretoria</option>
												<option value="Europe/Riga">(UTC+02:00) Riga</option>
												<option value="Europe/Sofia">(UTC+02:00) Sofia</option>
												<option value="Europe/Tallinn">(UTC+02:00) Tallinn</option>
												<option value="Europe/Vilnius">(UTC+02:00) Vilnius</option>
												<option value="Asia/Baghdad">(UTC+03:00) Baghdad</option>
												<option value="Asia/Kuwait">(UTC+03:00) Kuwait</option>
												<option value="Europe/Minsk">(UTC+03:00) Minsk</option>
												<option value="Africa/Nairobi">(UTC+03:00) Nairobi</option>
												<option value="Asia/Riyadh">(UTC+03:00) Riyadh</option>
												<option value="Europe/Volgograd">(UTC+03:00) Volgograd</option>
												<option value="Asia/Tehran">(UTC+03:30) Tehran</option>
												<option value="Asia/Muscat">(UTC+04:00) Abu Dhabi</option>
												<option value="Asia/Baku">(UTC+04:00) Baku</option>
												<option value="Europe/Moscow">(UTC+04:00) Moscow</option>
												<option value="Asia/Muscat">(UTC+04:00) Muscat</option>
												<option value="Europe/Moscow">(UTC+04:00) St. Petersburg</option>
												<option value="Asia/Tbilisi">(UTC+04:00) Tbilisi</option>
												<option value="Asia/Yerevan">(UTC+04:00) Yerevan</option>
												<option value="Asia/Kabul">(UTC+04:30) Kabul</option>
												<option value="Asia/Karachi">(UTC+05:00) Islamabad</option>
												<option value="Asia/Karachi">(UTC+05:00) Karachi</option>
												<option value="Asia/Tashkent">(UTC+05:00) Tashkent</option>
												<option value="Asia/Calcutta">(UTC+05:30) Chennai</option>
												<option value="Asia/Kolkata">(UTC+05:30) Kolkata</option>
												<option value="Asia/Calcutta">(UTC+05:30) Mumbai</option>
												<option value="Asia/Calcutta">(UTC+05:30) New Delhi</option>
												<option value="Asia/Calcutta">(UTC+05:30) Sri Jayawardenepura</option>
												<option value="Asia/Katmandu">(UTC+05:45) Kathmandu</option>
												<option value="Asia/Almaty">(UTC+06:00) Almaty</option>
												<option value="Asia/Dhaka">(UTC+06:00) Astana</option>
												<option value="Asia/Dhaka">(UTC+06:00) Dhaka</option>
												<option value="Asia/Yekaterinburg">(UTC+06:00) Ekaterinburg</option>
												<option value="Asia/Rangoon">(UTC+06:30) Rangoon</option>
												<option value="Asia/Bangkok">(UTC+07:00) Bangkok</option>
												<option value="Asia/Bangkok">(UTC+07:00) Hanoi</option>
												<option value="Asia/Jakarta">(UTC+07:00) Jakarta</option>
												<option value="Asia/Novosibirsk">(UTC+07:00) Novosibirsk</option>
												<option value="Asia/Hong_Kong">(UTC+08:00) Beijing</option>
												<option value="Asia/Chongqing">(UTC+08:00) Chongqing</option>
												<option value="Asia/Hong_Kong">(UTC+08:00) Hong Kong</option>
												<option value="Asia/Krasnoyarsk">(UTC+08:00) Krasnoyarsk</option>
												<option value="Asia/Kuala_Lumpur">(UTC+08:00) Kuala Lumpur</option>
												<option value="Australia/Perth">(UTC+08:00) Perth</option>
												<option value="Asia/Singapore">(UTC+08:00) Singapore</option>
												<option value="Asia/Taipei">(UTC+08:00) Taipei</option>
												<option value="Asia/Ulan_Bator">(UTC+08:00) Ulaan Bataar</option>
												<option value="Asia/Urumqi">(UTC+08:00) Urumqi</option>
												<option value="Asia/Irkutsk">(UTC+09:00) Irkutsk</option>
												<option value="Asia/Tokyo">(UTC+09:00) Osaka</option>
												<option value="Asia/Tokyo">(UTC+09:00) Sapporo</option>
												<option value="Asia/Seoul">(UTC+09:00) Seoul</option>
												<option value="Asia/Tokyo">(UTC+09:00) Tokyo</option>
												<option value="Australia/Adelaide">(UTC+09:30) Adelaide</option>
												<option value="Australia/Darwin">(UTC+09:30) Darwin</option>
												<option value="Australia/Brisbane">(UTC+10:00) Brisbane</option>
												<option value="Australia/Canberra">(UTC+10:00) Canberra</option>
												<option value="Pacific/Guam">(UTC+10:00) Guam</option>
												<option value="Australia/Hobart">(UTC+10:00) Hobart</option>
												<option value="Australia/Melbourne">(UTC+10:00) Melbourne</option>
												<option value="Pacific/Port_Moresby">(UTC+10:00) Port Moresby</option>
												<option value="Australia/Sydney">(UTC+10:00) Sydney</option>
												<option value="Asia/Yakutsk">(UTC+10:00) Yakutsk</option>
												<option value="Asia/Vladivostok">(UTC+11:00) Vladivostok</option>
												<option value="Pacific/Auckland">(UTC+12:00) Auckland</option>
												<option value="Pacific/Fiji">(UTC+12:00) Fiji</option>
												<option value="Pacific/Kwajalein">(UTC+12:00) International Date Line West</option>
												<option value="Asia/Kamchatka">(UTC+12:00) Kamchatka</option>
												<option value="Asia/Magadan">(UTC+12:00) Magadan</option>
												<option value="Pacific/Fiji">(UTC+12:00) Marshall Is.</option>
												<option value="Asia/Magadan">(UTC+12:00) New Caledonia</option>
												<option value="Asia/Magadan">(UTC+12:00) Solomon Is.</option>
												<option value="Pacific/Auckland">(UTC+12:00) Wellington</option>
												<option value="Pacific/Tongatapu">(UTC+13:00) Nuku'alofa</option>
											</select>
										</div>
									</div>
									<hr />
									<div data-wity-group-alert="front_app"></div>
									<div class="control-group">
										<label class="control-label" for="default">Front app.</label>
										<div class="controls">
											<input type="text" id="default" data-wity-name="Front app." data-wity-autocomplete="GET_FRONT_APPS" name="default" autocomplete="off" data-wity-installer-group="front_app" data-wity-required="true" />
										</div>
									</div>
									<div data-wity-group-alert="admin_app"></div>
									<div class="control-group">
										<label class="control-label" for="admin">Admin app.</label>
										<div class="controls">
											<input type="text" id="admin" data-wity-name="Admin app." data-wity-autocomplete="GET_ADMIN_APPS" name="admin" autocomplete="off" data-wity-installer-group="admin_app" data-wity-required="true" />
										</div>
									</div>
								</fieldset>
							</div>
							<div class="tab-pane" id="db_configuration_tab" data-wity-installer-step="database" data-wity-name="Database">
								<fieldset class="form-horizontal">
									<div data-wity-group-alert="db_credentials"></div>
									<div class="control-group">
										<label class="control-label" for="server">Server</label>
										<div class="controls">
											<input type="text" id="server" name="server" data-wity-name="Credentials" data-wity-installer-group="db_credentials" data-wity-required="true" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="port">Port</label>
										<div class="controls">
											<input type="number" id="port" name="port" placeholder="3306" data-wity-installer-group="db_credentials" data-wity-validate-regexp="^[0-9]*$" data-wity-regexp-message="Database port must be a number" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="user">Login</label>
										<div class="controls">
											<input type="text" id="user" name="user" data-wity-installer-group="db_credentials" data-wity-required="true" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="pw">Password</label>
										<div class="controls">
											<input type="password" id="pw" name="pw" data-wity-installer-group="db_credentials" />
										</div>
									</div>
									<hr/>
									<div data-wity-group-alert="db_name"></div>
									<div class="control-group">
										<label class="control-label" for="dbname">Database name</label>
										<div class="controls">
											<input type="text" id="dbname" name="dbname" data-wity-name="Database name" data-wity-installer-group="db_name" data-wity-required="true" data-wity-require-groups="db_credentials" />
										</div>
									</div>
									<div data-wity-group-alert="tables_prefix"></div>
									<div class="control-group">
										<label class="control-label" for="prefix">Table prefix</label>
										<div class="controls">
											<input type="text" id="prefix" name="prefix" data-wity-name="Tables prefix" data-wity-installer-group="tables_prefix" data-wity-require-groups="db_credentials db_name" />
										</div>
									</div>
								</fieldset>
							</div>
							<div class="tab-pane" id="admin_configuration_tab"  data-wity-installer-step="user" data-wity-name="User">
								<fieldset class="form-horizontal">
									<div data-wity-group-alert="user_nickname"></div>
									<div class="control-group">
										<label class="control-label" for="nickname">Pseudo</label>
										<div class="controls">
											<input type="text" id="nickname" name="nickname" data-wity-name="Nickname" data-wity-installer-group="user_nickname" data-wity-validate-regexp="^[a-zA-Z0-9]([a-zA-Z0-9])*$" data-wity-required="true" data-wity-regexp-message="The nickname must be an alphanumeric value." />
										</div>
									</div>
									<div data-wity-group-alert="user_password"></div>
									<div class="control-group">
										<label class="control-label" for="password">Password</label>
										<div class="controls">
											<input type="password" id="password" name="password" data-wity-name="Password" data-wity-installer-group="user_password" data-wity-required="true" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="confirm"><em>Confirmation</em></label>
										<div class="controls">
											<input type="password" id="confirm" name="confirm" data-wity-installer-group="user_password" data-wity-required="true" data-wity-validate-equals="password" data-wity-equals-message="Password and confirmation are different." />
										</div>
									</div>
									<div data-wity-group-alert="user_email"></div>
									<div class="control-group">
										<label class="control-label" for="email">Email</label>
										<div class="controls">
											<input type="email" id="email" name="email" data-wity-name="Email" data-wity-installer-group="user_email" data-wity-validate-regexp="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$" data-wity-required="true" data-wity-regexp-message="This email is not valid." />
										</div>
									</div>
									<hr/>
									<div data-wity-group-alert="user_firstname"></div>
									<div class="control-group">
										<label class="control-label" for="firstname">Firstname</label>
										<div class="controls">
											<input type="text" id="firstname" name="firstname" data-wity-name="Firstname" data-wity-installer-group="user_firstname" data-wity-validate-regexp="^[a-zA-Z]([- a-zA-Z])*$" data-wity-regexp-message="The firstname is not valid." />
										</div>
									</div>
									<div data-wity-group-alert="user_lastname"></div>
									<div class="control-group">
										<label class="control-label" for="lastname">Lastname</label>
										<div class="controls">
											<input type="text" id="lastname" name="lastname" data-wity-name="Lastname" data-wity-installer-group="user_lastname" data-wity-validate-regexp="^[a-zA-Z]([- a-zA-Z])*$" data-wity-regexp-message="The lastname is not valid." />
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid" data-wity-installer-debug="witycms"></div>
			<div class="row-fluid hide" data-show-onsuccess="witycms">
				<div class="hero-unit">
  					<h1>Congratulations</h1>
  					<p>The installation of WityCMS is done !</p>
					<br /><br />
  					<p>
  						<a data-wity-link-front="true" class="btn btn-primary btn-large">Front page</a>
    					<a data-wity-link-admin="true" class="btn btn-warning btn-large">Administration</a>
  					</p>
				</div>
			</div>
		</div>
	</body>
</html>
