<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width" />
        <title>WityCMS Installer</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link type="text/css" rel="stylesheet" href="/installer/css/style.css" />
        <!--[if lt IE 9]>
                <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
                <link rel="stylesheet" type="text/css" href="/installer/css/ie-only.css" />
        <![endif]-->
        <!--[if lte IE 9]>
                <link rel="stylesheet" type="text/css" href="/installer/css/ie-all-only.css" />
        <![endif]-->

        <script type="text/javascript" src="/installer/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/installer/js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="/installer/js/script.js"></script>
    </head>

    <body>
        Here we go !
    </body>

</html>