/**
 * Feuille de style design admin v2
 * 
 * @author Fofif
 * @package FofCMS
 */

/*****************************************************************
  GENERALITES
*****************************************************************/

html {
	font-size: 100%;
}
body {
	font: normal 0.7em Arial, serif;
	color: #6f6f6f;
	background: #fffffd;
	margin: 0;
	padding: 0;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .5em 0;
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
}

/* Liens */
a {
	text-decoration: none;
	color: #28b8f7;
}
a:hover {
	color: #1b93c8;
}

a img {
	border: none;
}

/* Formulaires */
legend {
	font-weight: bold;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, button, select {
	vertical-align: middle;
}
label {
	cursor: pointer;
}

.button-submit {
	border-radius: 10px;
	background: #28b8f7;
	border: none;
	color: white;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	cursor: pointer;
}

.button-submit:hover {
	border-radius: 10px;
	background: #1aa4e0;
	border: none;
	color: white;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
}

.hidden { display: none; }

.tcenter { text-align: center; }
.tleft { text-align: left; }
.tright { text-align: right; }

.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }

/*****************************************************************
  STRUCTURE
*****************************************************************/

div.wrapper {
	width: 95%;
	max-width: 1200px;
	min-width: 1000px;
	margin: auto;
}

/*****************************************************************
  HEADER
*****************************************************************/

/* Partie logo */
div#header {
	margin: 20px 50px 10px 50px;
}

div#title {
	background: url('../images/cms-logo.jpg') no-repeat left;
	padding-left: 50px;
	float: left;
}

h1 {
	font-size: 1.4em;
	margin: 0;
	padding: 0;
}

h1 a {
	color: #6f6f6f;
}

h1 a:hover {
	color: #28b8f7;
	text-decoration: underline;
}

div#title span {
	color: #28b8f7;
}

div#title p {
	margin: 0;
	padding: 0;
}

div#title p em {
	color: #d0d0ce;
	font-style: normal;
	border-bottom: 1px dotted #d0d0ce;
}

/* Lien de déconnexion */
div#logout {
	height: 70px;
	background: url('../images/logout-bg.jpg') no-repeat left;
	padding-left: 50px;
	float: right;
	text-transform: uppercase;
}

div#logout a {
	color: #d0d0ce;
	background: url('../images/logout-off.jpg') no-repeat top center;
	margin-top: 12px;
	padding-top: 42px;
	display: block;
}

div#logout a:hover {
	background-image: url('../images/logout-on.jpg');
	color: #28b8f7;
}

/*****************************************************************
  NAVIGATION
*****************************************************************/

div#nav {
	height: 107px;
	background: url('../images/nav-left.jpg') no-repeat left;
	padding-left: 11px;
}

div#nav div.inner {
	border-bottom: 1px solid #eaeae8;
	background: url('../images/nav-right.jpg') no-repeat top right;
	padding-right: 15px;
}


div#nav p, div#nav ul, div#nav form {
	margin: 0;
	padding: 0;
}

div#nav ul {
	list-style: none;
}

/* Liste des modules */
ul#modules {
	height: 46px;
	background: url('../images/nav-bg.jpg') repeat-x right top;
}

ul#modules li {
	text-align: center;
	text-transform: uppercase;
	float: left;
}

ul#modules li a {
	height: 28px;
	color: #707070;
	margin: 0 10px 0 10px;
	margin-top: 8px;
	padding: 10px 15px 0 15px;
	display: block;
}

ul#modules li a:hover, ul#modules li.hover a {
	/*background: url('../images/modules-hover.jpg') no-repeat center bottom;*/
	background: #28b8f7;
	color: white;
}

/* Liste des actions */
ul#actions {
	height: 34px;
	background: #28b8f7;
}

ul#actions li {
	height: 24px;
	padding: 9px 20px 0 20px;
	float: left;
	background: url('../images/actions-bg.jpg') no-repeat top left;
}

ul#actions li:first-child {
	background: none;
}

ul#actions li a {
	display: block;
	color: white;
	font-weight: bold;
	height: 24px;
}

ul#actions li a:hover, ul#actions li.on a {
	background: url('../images/actions-on.jpg') no-repeat bottom center;
}

/* Partie inférieure */
div#nav div.sub {
	height: 26px;
	background: #fffffd;
}

div#nav div.sub p {
	padding-top: 6px;
	float: left;
}

div#nav div.sub p span.app {
	font-weight: normal;
	font-style: italic;
	color: #a9a9a9;
	text-transform: uppercase;
}

div#nav div.sub span.action {
	font-weight: bold;
}

div#nav div.sub form {
	float: right;
}

div#nav div.sub input {
	font: normal 1em Arial, serif;
	color: #d3d3d1;
	background: #fffffd;
	border: 1px solid #eaeae8;
	padding: 2px;
}

div#nav div.sub input.img {
	border: 0;
	vertical-align: top;
}

/*****************************************************************
  CONTENT
*****************************************************************/

div#body {
	margin-top: 10px;
	font-size: 1.2em;
}

div#content {
	margin-right: 29%;
}

div#content.large {
	margin-right: 0;
}

div#content div.item {
	border: 1px solid #ebebeb;
	padding: 8px;
	margin-bottom: 10px;
	background: #fafafa;
}

div#blocks {
	width: 28%;
	float: right;
}

div#blocks div.block {
	min-height: 20px;
	border: 1px solid #ebebeb;
	margin-bottom: 1em;
	padding: 8px;
}

div#blocks div.top {
	height: 18px;
	position: relative;
	top: -9px;
	right: -9px;
	margin-bottom: -18px;
	background: url('../images/block-top-bg.jpg') no-repeat right;
}

div#blocks h2 {
	padding: 0;
	margin: 0;
}

/*****************************************************************
  TABLEAU POUR LISTER
*****************************************************************/

table.liste {
	width: 100%;
	border: 1px solid #ebebeb;
	padding: 2px;
	margin-bottom: 10px;
}

table.liste td {
	padding: 8px;
	color: #9b9b99;
}

table.liste em {
	color: #cdcdcb;
}

table.liste th {
	background: #bae3f5;
	padding: 8px;
	text-align: left;
}

table.liste tr.pair {
	
}
table.liste tr.impair {
	background: #f3f3f3;
}
table.liste tr.pair:hover, table.liste tr.impair:hover {
	background: #eaeae8;
}

/* Sorting Style */
table.liste.sorted th.sort {
    background-image: url('../../system/images/icones/small.gif');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}
table.liste.sorted th.sort a { color: #999999; }
table.liste.sorted th.sort a:hover { color: #28b8f7; }
table.liste.sorted th.sortAsc { background-image: url('../../system/images/icones/asc.gif'); }
table.liste.sorted th.sortDesc { background-image: url('../../system/images/icones/desc.gif'); }

/*****************************************************************
  PAGINATION
*****************************************************************/

div.pagination {
	color: #959595;
	margin: 0.5em;
	text-align: center;
}

div.pagination a {
	color: #959595;
}

div.pagination span.num a {
	color: #959595;
	border: 1px solid #e1e1e3;
	padding: 1px 3px 1px 3px;
}

div.pagination a:hover, div.pagination a.on {
	font-weight: bold;
}

