<div class="wity-app wity-app-settings wity-action-configure">
	<form action="/admin/settings" method="post" class="form-horizontal" enctype="multipart/form-data">
		<h1>{lang Settings of the site}</h1>

		<fieldset>
			<legend>{lang General}</legend>

			<div class="form-group">
				<label for="site_title" class="col-sm-2 control-label">{lang Website's name}</label>
				<div class="col-sm-10 col-lg-5">
					<input id="site_title" class="form-control" type="text" name="settings[site_title]" value="{!$settings.site_title!}" />
				</div>
			</div>

			<div class="form-group">
				<label for="base" class="col-sm-2 control-label">{lang Website's base URL}</label>
				<div class="col-sm-10 col-lg-5">
					<input id="base" class="form-control" type="text" name="settings[base]" value="{!$settings.base!}" />
				</div>
			</div>

			<div class="form-group">
				<label for="timezone" class="col-sm-2 control-label">{lang Timezone}</label>
				<div class="col-sm-10 col-lg-5">
					<select id="timezone" class="form-control" name="settings[timezone]">
						{include apps/settings/admin/templates/timezones.html}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">{lang Administrator's email}</label>
				<div class="col-sm-10 col-lg-5">
					<input id="email" class="form-control" type="email" name="settings[email]" value="{!$settings.email!}" />
				</div>
			</div>

			<div class="form-group">
				<label for="favicon" class="col-sm-2 control-label">{lang Favicon (.ico)}</label>
				<div class="col-sm-10 col-lg-5">
					{if !empty({$settings.favicon})}
					<p><img src="{!$settings.favicon!}" alt="Favicon" width="32" height="32" /></p>
					{/if}
					<input id="favicon" class="form-control" type="file" name="favicon" value="" />
				</div>
			</div>

			<div class="form-group">
				<label for="theme" class="col-sm-2 control-label">{lang Default theme}</label>
				<div class="col-sm-10 col-lg-5">
					<select id="theme" class="form-control" name="settings[theme]">
						{for $theme in $themes}
						<option value="{$theme}"{if {$theme} == {$settings.theme}} selected="selected"{/if}>{$theme}</option>
						{/for}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="debug" class="col-sm-2 control-label">{lang Debug mode}</label>
				<div class="col-sm-10 col-lg-5">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="debug" name="settings[debug]" value="on" {if {$settings.debug}} checked="checked"{/if}>
						</label>
					</div>
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>{lang Default applications}</legend>

			<div class="form-group">
				<label for="default_front" class="col-sm-2 control-label">{lang Default application}</label>
				<div class="col-sm-10 col-lg-5">
					<select id="default_front" class="form-control" name="route[default_front]">
						{for $app in $front_apps}
						<option value="{$app}"{if {$app} == {$route.default_front}} selected="selected"{/if}>{$app}</option>
						{/for}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="default_admin" class="col-sm-2 control-label">{lang Default application in admin}</label>
				<div class="col-sm-10 col-lg-5">
					<select id="default_admin" class="form-control" name="route[default_admin]">
						{for $app in $admin_apps}
						<option value="{$app}"{if {$app} == {$route.default_admin}} selected="selected"{/if}>{$app}</option>
						{/for}
					</select>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{lang SEO}</legend>

			<div class="form-group">
				<label for="site_title" class="col-sm-2 control-label">{lang Title}</label>
				<div class="col-sm-10 col-lg-5">
					<input id="page_title" class="form-control" type="text" name="settings[page_title]" value="{!$settings.page_title!}" />
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">{lang Description (about 125 symbols)}</label>
				<div class="col-sm-10 col-lg-5">
					<textarea id="page_description" class="form-control" name="settings[page_description]" rows="5" cols="40">{$settings.page_description}</textarea>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{lang Facebook's OpenGraph}</legend>

			<div class="form-group">
				<label for="og_title" class="col-sm-2 control-label">{lang Title}</label>
				<div class="col-sm-10 col-lg-5">
					<input id="og_title" class="form-control" type="text" name="og[title]" value="{!$og.title!}" />
				</div>
			</div>
			<div class="form-group">
				<label for="og_description" class="col-sm-2 control-label">{lang Description}</label>
				<div class="col-sm-10 col-lg-5">
					<textarea id="og_description" class="form-control" name="og[description]" rows="5" cols="40">{$og.description}</textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="image" class="col-sm-2 control-label">{lang Image}</label>
				<div class="col-sm-10 col-lg-5">
					{if !empty({$og.image})}
					<p><img src="{$og.image}" alt="Icon" class="img-responsive" /></p>
					{/if}
					<input id="image" class="form-control" type="file" name="image" value="" />
				</div>
			</div>
		</fieldset>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input class="btn btn-large btn-primary" type="submit" value="{lang Submit}" />
			</div>
		</div>
	</form>
</div>
