<div class="wity-app wity-app-slideshow wity-action-form">
	<form method="post" enctype="multipart/form-data">	
		<div class="row">
			<div class="col-md-8">
				<h2 class="sr-only">{lang slide_add}</h2>

				<div class="form-group translatable">
					<label for="name" class="control-label">{lang name}*</label><br />
					<input id="name" class="form-control lang" type="text" name="name" value="{$name}" autocomplete="off" placeholder="{lang name}" />
				</div>

				<div class="form-group translatable">
					<label for="iso" class="control-label">{lang iso}*</label><br />
					<input id="iso" class="form-control lang" type="text" name="iso" value="{$iso}" autocomplete="off" placeholder="{lang iso}" />
				</div>

				<div class="form-group translatable">
					<label for="code" class="control-label">{lang code}</label><br />
					<input id="code" class="form-control lang" type="text" name="code" value="{$code}" autocomplete="off" placeholder="{lang code}" />
				</div>

				<div class="form-group translatable">
					<label for="date_format_short" class="control-label">{lang date_format_short}</label> <a href="http://php.net/manual/fr/function.date.php" target="_blank">{lang how it works}</a><br />
					<input id="date_format_short" class="form-control lang" type="text" name="date_format_short" value="{$date_format_short}" autocomplete="off" placeholder="d-m-y" />
				</div>

				<div class="form-group translatable">
					<label for="date_format_long" class="control-label">{lang date_format_long}</label><br />
					<input id="date_format_long" class="form-control lang" type="text" name="date_format_long" value="{$date_format_long}" autocomplete="off" placeholder="d-m-y H:i" />
				</div>

				<label class="control-label">{lang enabled}</label><br />
				<div class="onoffswitch">
					<input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="enabled" checked>
					<label class="onoffswitch-label" for="enabled">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>

			</div>
			<div class="col-md-4">		
				<div class="well well-sm">
					<button type="submit" class="btn btn-primary btn-lg btn-block" type="button">{lang save}</button>
					<button class="btn btn-default btn-lg btn-block" type="button" onclick="history.back();">{lang cancel}</button>
				</div>
			</div>
		</div>
	</form>
</div>
