/**
 * Feuille de style des Notes
 */


/************************
 * Note classique <dt>
 ************************/
.note {
	text-align: left;
	border: 1px solid #e5e5e5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 1em;
	padding: 0.5em 0.5em 0.5em 40px;
}

.note p {
	margin: 0;
}

/* Info display */
.info {
	color: #6a6a6a;
	background: #f7f7f7 url(../images/icones/info.png) 10px 10px no-repeat;
}

/* Successs display */
.success {
	color: #208a1b;
	background: #f7f7f7 url(../images/icones/accept.png) 10px 10px no-repeat;
}

/* Error display */
.error {
	color: #f3227b;
	background: #f7f7f7 url(../images/icones/error.png) 10px 10px no-repeat;
}

/************************
 * Note display custom
 ************************/
#full_note {
	width: 100%;
	font-family: Arial, Helvetica, FreeSans, sans-serif;
	background: #ededed;
	margin: 0;
	padding-top: 2em;
}

#full_note #box {
	width: 500px;
	margin: auto;
	padding: 1em 1em 0 1em;
	background: white;
	border: 1px solid #d7d7d7;
}

#full_note #box h1 {
	margin-top: 0;
}
