<form action="" method="post">
	<div id="blocks">
		<div class="block">
			<div class="top"></div>
			<table>
				<tr>
					<td><label for="pAuthor">Auteur :</label></td>
					<td><input id="pAuthor" type="text" name="pAuthor" value="{$pAuthor}" /></td>
				</tr>
				<tr>
					<td><label for="pKeywords">Mots clés :</label></td>
					<td><input id="pKeywords" type="text" name="pKeywords" value="{$pKeywords}" /></td>
				</tr>
			</table>
		</div>
		<div class="block">
			<div class="top"></div>
			<h2>Infos</h2>
			<table>
				<tr>
					<td><strong>Page ajoutée le :</strong></td>
					<td>{$creation_time}</td>
				</tr>
				<tr>
					<td><strong>Dernière édition le :</strong></td>
					<td>{$edit_time}</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="content">
		<div class="item">
			<label for="pTitle">Titre :</label>
			<input id="pTitle" type="text" name="pTitle" size="40" value="{$pTitle}" onkeyup="updatePermalien(this.value);" /><br />
			<div id="permalien">
				<strong>URL :</strong>
				<span id="permalienShow" onclick="">
					<span onclick="permalienClick();">
						{$siteURL}<span id="permalienInnerShow">{$pUrl}</span><input id="permalienInnerInput" type="text" name="pUrl" value="{$pUrl}" />
					</span>
					<input id="modifButton" type="button" value="Modifier" onclick="permalienClick();" />
					<span id="modifCommands">
						<input id="okButton" type="button" value="OK" onclick="updatePermalien(document.getElementById('permalienInnerInput').value); return false;" /> - 
						<a href="/#" onclick="permalienCancel(); return false;">Annuler</a>
					</span>
				</span>
			</div><br />
			
			<label for="pContent">Contenu de la page :</label>
			<textarea id="pContent" name="pContent" rows="15" cols="80">{$pContent}</textarea><br />
			<script type="text/javascript">
				var editor = CKEDITOR.replace('pContent');
				CKFinder.setupCKEditor(editor, '{$baseDir}helpers/ckfinder/') ;
			</script>
			
			<div class="tcenter">
				<input type="submit" value="Envoyer" />
				<input type="button" value="Annuler" onclick="history.back();" />
			</div>
		</div>
	</div>
	<div class="clear"></div>
</form>