<div class="wity-app wity-app-page wity-action-form">
	<form method="post" enctype="multipart/form-data">
		<div role="tabpanel" style="margin-bottom: 1em;">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs translatable-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#lang_1" class="lang">{lang french}</a></li>
				<li role="presentation"><a href="#lang_2" class="lang">{lang english}</a></li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-9 form-horizontal">
				<h1>{if empty({$id})}{lang page_add}{else}{lang page_edit}{/if}</h1>

				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">*{lang title}</label>
					<div class="col-sm-10 translatable">
						<input id="title_1" data-lang="1" class="title form-control lang lang_1" type="text" name="title_1" value="{$title_1}" autocomplete="off" placeholder="{lang title}" />
						<input id="title_2" data-lang="2" class="title form-control lang lang_2 hidden" type="text" name="title_2" value="{$title_2}" autocomplete="off" placeholder="{lang title}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">*{lang URL}</label>
					<div class="col-sm-10 translatable">
						<div class="input-group lang lang_1">
							<span class="input-group-addon">{$wity_base_url}{$id}-</span>
							<input id="url" class="form-control url" type="text" name="url_1" value="{$url_1}" />
							<span class="input-group-addon"><a href="javascript:void(0)" data-lang="1" class="update-url"><i class="glyphicon glyphicon-refresh"></i></a></span>
						</div>
						<div class="input-group lang lang_2 hidden">
							<span class="input-group-addon">{$wity_base_url}{$id}-</span>
							<input id="url" class="form-control url" type="text" name="url_2" value="{$url_2}" />
							<span class="input-group-addon"><a href="javascript:void(0)" data-lang="2" class="update-url"><i class="glyphicon glyphicon-refresh"></i></a></span>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="content" class="col-sm-2 control-label">{lang content}</label>
					<div class="col-sm-10 translatable">
						<div class="lang lang_1">
							<textarea id="content_1" class="form-control" name="content_1" rows="20" cols="80">{$content_1}</textarea>
						</div>
						<div class="lang lang_2 hidden">
							<textarea id="content_2" class="form-control" name="content_2" rows="20" cols="80">{$content_2}</textarea>
						</div>
						<script type="text/javascript">
							var roxyFileman = '{$wity_base_url}libraries/fileman/index.html',
								options = {
									filebrowserBrowseUrl: roxyFileman,
									filebrowserImageBrowseUrl: roxyFileman + '?type=image',
									removeDialogTabs: 'link:upload;image:upload',
									height: '500px'
								};
							
							CKEDITOR.replace('content_1', options);
							CKEDITOR.replace('content_2', options);
						</script>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="well well-sm">
					<button type="submit" class="btn btn-primary btn-lg btn-block" type="button">{lang submit}</button>
					{if !empty({$id})}<a href="{$wity_base_url}{$url_1}" target="_blank" class="btn btn-info btn-lg btn-block">{lang preview}</a>{/if}
					<button type="button" class="btn btn-default btn-lg btn-block" onclick="history.back();">{lang cancel}</button>
				</div>

				<div class="well well-sm">
					<h4 class="text-center">{lang details}</h4>

					<div class="form-group translatable">
						<label for="author_1" class="control-label">{lang author}</label>
						<input id="author_1" class="form-control lang lang_1" type="text" name="author_1" value="{$author_1}" placeholder="{lang author_1}" />
						<input id="author_2" class="form-control lang lang_2 hidden" type="text" name="author_2" value="{$author_2}" placeholder="{lang author_2}" />
					</div>

					<div class="form-group translatable">
						<label for="subtitle" class="control-label">{lang subtitle}</label>
						<input id="subtitle_1" class="form-control lang lang_1" type="text" name="subtitle_1" value="{$subtitle_1}" placeholder="{lang subtitle}" />
						<input id="subtitle_2" class="form-control lang lang_2 hidden" type="text" name="subtitle_2" value="{$subtitle_2}" placeholder="{lang subtitle}" />
					</div>
					
					<div class="form-group">
						<label for="parent">{lang mother_page}</label>
						<select id="parent" name="parent" class="form-control">
							<option value="0">{lang none}</option>

							{for $page in $pages}
								{if {$page.id} != {$id}}
									{if !empty({$page.parent})}
										{set $page_parent = {$page.parent}.'/'.{$page.id}}
									{else}
										{set $page_parent = {$page.id}}
									{/if}
									<option value="{$page_parent}" data-page-url="{$page.url}"{if {$page_parent} == {$parent}} selected="selected"{/if}>
										{range $i = 1..{$page.level}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/range}{$page.title}
									</option>
								{/if}
							{/for}
						</select>
					</div>

					<div class="form-group">
						<label for="image">{lang image}</label>

						{if !empty({$image})}
						<p><img class="img-responsive" src="{$image}" alt="{$title}" /></p>
						{/if}

						<input id="image" type="file" name="image" />
					</div>

					{if !empty({$id})}
					<hr />

					<ul class="list-unstyled">
						<li>{lang page_created_on|{$created_date}}</li>

						{if {$modified_date} != '0000-00-00 00:00:00'}
						<li>{lang page_modified_on|{$modified_date}}</li>
						{/if}
					</ul>
					{/if}
				</div>

				<div class="well well-sm">
					<h4 class="text-center">{lang SEO}</h4>

					<div class="form-group translatable">
						<label for="meta_title_1">{lang meta_title}</label>
						<input id="meta_title_1" class="form-control meta_title lang lang_1" type="text" name="meta_title_1" value="{$meta_title_1}" placeholder="{lang meta_title}" />
						<input id="meta_title_2" class="form-control meta_title lang lang_2 hidden" type="text" name="meta_title_2" value="{$meta_title_2}" placeholder="{lang meta_title}" />
					</div>

					<div class="form-group translatable">
						<label for="meta_description_1">{lang meta_description}</label>
						<textarea id="meta_description_1" class="form-control lang lang_1" type="text" name="meta_description_1" placeholder="{lang meta_description}" rows="4" cols="40">{$meta_description_1}</textarea>
						<textarea id="meta_description_2" class="form-control lang lang_2 hidden" type="text" name="meta_description_2" placeholder="{lang meta_description}" rows="4" cols="40">{$meta_description_2}</textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
