<div id="content" class="large">
	<table class="liste sorted" cellpadding="0" cellspacing="0">
		<colgroup>
			<col style="width: 5%;" />
			<col style="width: 35%;" />
			<col style="width: 20%;" />
			<col style="width: 15%;" />
			<col style="width: 15%;" />
			<col style="width: 10%;" />
		</colgroup>
		<tr>
			<th class="sort {$id_class}"><a href="/admin/page/id-{$id_sort}/">#</a></th>
			<th class="sort {$title_class}"><a href="/admin/page/title-{$title_sort}/">Titre</a></th>
			<th class="sort {$author_class}"><a href="/admin/page/author-{$author_sort}/">Auteur</a></th>
			<th class="sort {$creation_time_class}"><a href="/admin/page/creation_time-{$creation_time_sort}/">Date de création</a></th>
			<th class="sort {$edit_time_class}"><a href="/admin/page/edit_time-{$edit_time_sort}/">Dernière édition</a></th>
			<th>Actions</th>
		</tr>
		{for $count, $page in $pages}
			<tr class="{if {$count} % 2 == 0}pair{else}impair{/if}">
				<td>{$page.id}</td>
				<td><strong>{$page.title}</strong></td>
				<td>{$page.author}</td>
				<td>{$page.creation_time}</td>
				<td>{$page.edit_time}</td>
				<td>
					<a href="/admin/page/edit/{$page.id}-{$page.url}/" title="Editer"><img src="/themes/system/images/icones/edit.png" alt="Editer" /></a>
					<a href="/admin/page/del/{$page.id}-{$page.url}/" title="Supprimer"><img src="/themes/system/images/icones/del.png" alt="Supprimer" /></a>
				</td>
			</tr>
			{empty}
			<tr>
				<td colspan="6" class="tcenter">Aucune page n'a été ajoutée.</td>
			</tr>
			{/empty}
		{/for}
	</table>
</div>
<div class="clear"></div>