<div class="wity-app wity-app-partner wity-action-listing">
	<h2 class="sr-only">{lang pages}</h2>

	<div class="text-right">
		<a class="btn btn-success" href="/admin/page/add"><i class="glyphicon glyphicon-plus"></i> {lang action_add}</a>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th style="width: 65%;">{lang title}</th>
				<th style="width: 15%;">{lang last_modification}</th>
				<th style="width: 10%;">{lang views}</th>
				<th style="width: 10%;">{lang actions}</th>
			</tr>
		</thead>
		<tbody>
		{for $page in $pages}
			<tr>
				<td>{range $i = 1..{$page.level}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/range}<strong>{$page.title}</strong></td>
				<td>
					{if {$page.modified_date} != '0000-00-00 00:00:00'}
						{$page.modified_date}
					{else}
						{$page.created_date}
					{/if}
				</td>
				<td>{lang number_of_views|{$page.views}}</td>
				<td>
					<a title="{lang page_edit}" href="/admin/page/edit/{$page.id}-{$page.url}" class="black"><i class="glyphicon glyphicon-edit"></i></a>
					<span title="{lang page_delete}" class="link" data-link-modal="/v/admin/page/delete/{$page.id}" data-modal-container="modal_delete"><i class="glyphicon glyphicon-trash"></i></span>
				</td>
			</tr>
		{/for}
		{empty}
			<tr>
				<td colspan="6" class="text-center">{lang no_page_in_database}</td>
			</tr>
		{/empty}
		</tbody>
	</table>
	{$pagination}

	<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_delete_label" aria-hidden="true"></div>
</div>
