<div class="wity-app wity-app-partner wity-action-listing">
	<h1>{lang Pages}</h1>

	<div class="text-right">
		<a class="btn btn-success" href="/admin/page/add"><i class="glyphicon glyphicon-plus"></i> {lang Add a page}</a>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th style="width: 5%;">ID</th>
				<th style="width: 50%;">{lang Title}</th>
				<th style="width: 10%;">{lang Author}</th>
				<th style="width: 10%;" class="text-center">{lang Views}</th>
				<th style="width: 15%;">{lang Last modification}</th>
				<th style="width: 10%;">{lang Actions}</th>
			</tr>
		</thead>
		<tbody>
		{for $page in $pages}
			<tr>
				<td>{$page.id}</td>
				<td>{range $i = 1..{$page.level}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/range}<strong>{$page.title}</strong></td>
				<td>{$page.author}</td>
				<td class="text-center">{$page.views}</td>
				<td>
					{if {$page.modified_date} != '0000-00-00 00:00:00'}
						{$page.modified_date}
					{else}
						{$page.created_date}
					{/if}
				</td>
				<td>
					<div class="btn-group">
						<a href="/admin/page/edit/{$page.id}-{$page.url}" title="{lang Edit}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i> {lang Edit}</a>
						<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="javascript:void(0)" title="{lang Delete}" class="link" data-link-modal="/v/admin/page/delete/{$page.id}" data-modal-container="modal_delete"><i class="glyphicon glyphicon-trash"></i> {lang Delete}</a></li>
						</ul>
					</div>
				</td>
			</tr>
		{/for}
		{empty}
			<tr>
				<td colspan="6" class="text-center">{lang No page in database.}</td>
			</tr>
		{/empty}
		</tbody>
	</table>
	{$pagination}

	<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_delete_label" aria-hidden="true"></div>
</div>
