<form action="" method="post" enctype="multipart/form-data">
	<div class="span9">
		{if !empty({$note})}{$note}{/if}
	
		<input id="nTitle" class="input-block-level" name="nTitle" size="40" value="{$nTitle}" type="text" onkeyup="updatePermalien(this.value);" placeholder="Titre"/>
		<br/>
		<div class="input-prepend">
			<span class="add-on">{$siteURL}{$lastId}-</span>
			<!--span id="permalienInnerView" class="add-on">{$nUrl}</span-->
			<input class="span2" id="permalienInnerInput" type="text" value="{$nUrl}">
			<!--button id="editPermalien" class="btn" type="button" disabled="disabled"><i class="icon-pencil"></i></button-->
		</div>
		<br/>
		<label for="nContent" class="hide">Contenu de la news :</label><br />
		<textarea id="nContent" class="input-block-level" name="nContent" rows="20" cols="80">{$nContent}</textarea><br />
	</div>
	<div class="span3">
		<div class="well well-small">
			<div class="control-group">
				<label class="control-label" for="nAuthor">Auteur</label>
				<div class="controls">
					<input type="text" id="nAuthor" class="input-block-level" name="nAuthor" value="{$nAuthor}" placeholder="Auteur">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="nKeywords">Mots clés</label>
				<div class="controls">
					<input type="text" id="nKeywords" class="input-block-level" name="nKeywords" value="{$nKeywords}" placeholder="Mots clés">
				</div>
			</div>
		</div>
		{if isset({$date})}
		<div class="well">
			<h3>Infos</h3>
			<ul>
				<li><strong>News créée</strong> le {$date}</li>
				<li><strong>Dernière édition</strong> le  {$modified}</li>
			</ul>
		</div>
		{/if}
		<div class="well">
			<h3>Catégorie de l'article</h3>
			{for $c in $cat}
			<label class="checkbox">
				<input id="cat{$c.cid}" type="checkbox" name="nCat[{$c.cid}]" {if in_array({$c.cid}, {$ncat})} checked="checked"{/if}>
				{$c.name}
			</label>
			{/for}
		</div>
		<div class="well">
			<button type="submit" class="btn btn-large btn-block btn-primary" type="button">Enregistrer</button>
			<button class="btn btn-large btn-block" type="button" onclick="history.back();">Annuler</button>
		</div>
	</div>
</form>