<div class="span9">
        <table class="table table-hover table-striped">
                <thead>
                        <tr>
                                <th><a href="/admin/news/news_cat_name-{$news_cat_name_sort}/"><i class="{$news_cat_name_class}"></i> Nom</a></th>
                                <th><a href="/admin/news/news_cat_shortname-{$news_cat_shortname_sort}/"><i class="{$news_cat_shortname_class}"></i> Nom raccourci</a></th>
                                <th>Parent</th>
                                <th>Actions</th>
                        </tr>
                </thead>
                <tbody>
                        {for $c in $cats}
                        <tr>
                                <td>{$c.news_cat_name}</td>
                                <td>{$c.news_cat_shortname}</td>
                                <td>{$c.news_cat_shortname}</td>
                                <td>
                                        <a href="#add_or_edit_form" title="Editer" onclick="return editCat({$c.news_cat_id}, '{$c.news_cat_name}', '{$c.news_cat_shortname}', {$c.news_cat_parent});"><i class="icon-edit"></i></a>
					<span title="{lang category_delete}" class="link" data-link-modal="/admin/news/category_delete/{$c.news_cat_id}" data-modal-container="modal_delete"><i class="icon-trash"></i></span>
				</td>
                        </tr>
                        {/for}
                        {empty}
                        <tr>
                                <td colspan="6"><p class="text-center">Aucune catégorie trouvée dans la base de données.</p></td>
                        </tr>
                        {/empty}
                </tbody>
        </table>
</div>
<div class="span3">
        <div class="well">
                <form id="add_or_edit_form" action="/news/categories_manager" method="post">
                        <h4 class="hidden">Editer une catégorie</h4>
                        <h4>Ajouter une catégorie</h4>
                        <input type="text" name="news_cat_id" id="news_cat_id" class="hidden" value="{$news_cat_id}"/>

                        <div class="control-group">
                                <label class="control-label" for="news_cat_name">Nom</label>
                                <div class="controls">
                                        <input type="text" id="news_cat_name" class="input-block-level" name="news_cat_name" value="{$news_cat_name}" placeholder="Nom">
                                </div>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="news_cat_shortname">Nom raccourci</label>
                                <div class="controls">
                                        <input type="text" id="news_cat_shortname" class="input-block-level" name="news_cat_shortname" value="{$news_cat_shortname}" placeholder="Nom raccourci">
                                </div>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="news_cat_parent">Parent</label>
                                <div class="controls">
                                        <select id="news_cat_parent" name="news_cat_parent">
                                                <option value="0">Aucune</option>
                                                {for $c in $cats}
                                                <option value="{$c.news_cat_id}" {if (isset({$news_cat_parent})) && ({$news_cat_parent}=={$c.news_cat_id})}selected="selected"{/if}>{$c.news_cat_name}</option>
                                                {/for}
                                        </select>
                                </div>
                        </div>
                        <div class="control-group">
                                <div class="controls">
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                        <button type="cancel" class="btn">Annuler</button>
                                </div>
                        </div>
                </form>
        </div>
</div>

<div id="modal_delete" class="modal hide fade"></div>