<form method="post" enctype="multipart/form-data">
	<div class="row form-horizontal">
		<div class="col-md-9">
			<div class="form-group">
				<div class="sr-only">
					<label for="news_title" class="control-label">{lang title_of_article}</label>
				</div>
				<div class="col-md-12">
					<input id="news_title" class="form-control input-lg" type="text" name="news_title" value="{$news_title}"  autocomplete="off" placeholder="{lang title_of_article}" />
				</div>
			</div>
			
			<div class="input-group">
				<span class="input-group-addon">{$siteURL}{$lastId}-</span>
				<input id="news_url" class="form-control" type="text" name="news_url" />
			</div>
			
			<label for="news_content" class="sr-only">{lang article_content}:</label><br />
			<textarea id="news_content" class="form-control" name="news_content" rows="20" cols="80">{$news_content}</textarea><br />
			<script type="text/javascript">
				$('#news_content').wysihtml5();
			</script>
		</div>
		<div class="col-md-3">
			<div class="well well-sm">
				<h4 class="text-center">{lang metadata}</h4>
				<div class="form-group">
					<label for="news_author" class="control-label col-lg-5">{lang author}</label>
					<div class="col-lg-7">
						<input id="news_author" class="form-control" type="text" name="news_author" value="{$news_author}" placeholder="{lang author}" />
					</div>
				</div>
				<div class="form-group">
					<label for="news_keywords" class="control-label col-lg-5">{lang keywords}</label>
					<div class="col-lg-7">
						<input id="news_keywords" class="form-control" type="text" name="news_keywords" value="{$news_keywords}" placeholder="{lang keywords}">
					</div>
				</div>
				{if !empty({$news_date})}
				<hr />
				<ul class="list-unstyled">
					<li>{lang article_created_on|{$news_date}}</li>
					<li>{lang article_modified_on|{$news_modified}}</li>
				</ul>
				{/if}
			</div>
			<div class="well well-sm">
				<h4 class="text-center">{lang category_of_article}</h4>
				{for $cat in $cats_list}
				<label class="checkbox">
					<input id="cat{$cat.news_cat_id}" type="checkbox" name="news_cats[{$cat.news_cat_id}]"{if in_array({$cat.news_cat_id}, {$news_cats})} checked="checked"{/if}>
					{$cat.news_cat_name}
				</label>
				{/for}
				{empty}
				<p>{lang no_category_in_database}</p>
				{/empty}
			</div>
			<div class="well well-sm">
				<button type="submit" class="btn btn-primary btn-lg btn-block" type="button">{lang submit}</button>
				<button class="btn btn-default btn-lg btn-block" type="button" onclick="history.back();">{lang cancel}</button>
			</div>
		</div>
	</div>
</form>