<form action="" method="post" enctype="multipart/form-data">
	<div class="span9">	
		<input id="news_title" class="input-block-level" name="news_title" size="40" value="{$news_title}" type="text" onkeyup="updatePermalien(this.value);" placeholder="Titre de l'article"/>
		<br/>
		<div class="input-prepend">
			<span class="add-on">{$siteURL}{$lastId}-</span>
			<input class="span9" id="news_url" name="news_url" type="text" value="{$news_url}">
		</div>
		<br/>
		<label for="news_content" class="hide">Contenu de la news :</label><br />
		<textarea id="news_content" class="input-block-level" name="news_content" rows="20" cols="80">{$news_content}</textarea><br />
                <script type="text/javascript">
                        $('#news_content').wysihtml5(\{locale: "fr-FR"});
                </script>
	</div>
	<div class="span3">
		<div class="well">
                        <h4>Metadonnées</h4>
			<div class="control-group">
				<label class="control-label" for="news_author">Auteur</label>
				<div class="controls">
					<input type="text" id="news_author" class="input-block-level" name="news_author" value="{$news_author}" placeholder="Auteur">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="news_keywords">Mots clés</label>
				<div class="controls">
					<input type="text" id="news_keywords" class="input-block-level" name="news_keywords" value="{$news_keywords}" placeholder="Mots clés">
				</div>
			</div>
                        {if isset({$news_date})}
                        {if !empty({$news_date})}
                        <hr/>
                        <ul class="unstyled">
				<li><strong>News créée</strong> le {$news_date}</li>
				<li><strong>Dernière édition</strong> le  {$news_modified}</li>
			</ul>
                        {/if}
                        {/if}
		</div>
		<div class="well">
			<h4>Catégorie de l'article</h4>
			{for $c in $cat}
			<label class="checkbox">
				<input id="cat{$c.news_cat_id}" type="checkbox" name="news_cats[{$c.news_cat_id}]" {if in_array({$c.news_cat_id}, {$news_cats})} checked="checked"{/if}>
				{$c.news_cat_name}
			</label>
			{/for}
                        {empty}
                        <p>Aucune catégorie définie</p>
                        {/empty}
		</div>
		<div class="well">
			<button type="submit" class="btn btn-large btn-block btn-primary" type="button">Enregistrer</button>
			<button class="btn btn-large btn-block" type="button" onclick="history.back();">Annuler</button>
		</div>
	</div>
</form>