<div class="wity-app wity-app-news wity-action-news-form">
	<form method="post" enctype="multipart/form-data">
		<div id="translatable-tabs"></div>

		<div class="row">
			<div class="col-md-9 form-horizontal">
				<h1>{if empty({$id})}{lang Add a news}{else}{lang Edit a news}{/if}</h1>

				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">{lang Title}*</label>
					<div class="col-sm-10 translatable">
						<input id="title" class="form-control title counter" type="text" name="title" autocomplete="off" placeholder="{lang Title}" maxlength="140" />
					</div>
				</div>

				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">{lang URL}*</label>
					<div class="col-sm-10 translatable">
						<div class="input-group">
							<span class="input-group-addon">{$site_url}{$id}-</span>
							<input id="url" class="form-control url" type="text" name="url" />
							<span class="input-group-addon"><a href="javascript:void(0)" class="update-url"><i class="glyphicon glyphicon-refresh"></i></a></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="content" class="col-sm-2 control-label">{lang Content}</label>
					<div class="col-sm-10 translatable">
						<textarea id="content" class="form-control ckedit" name="content" rows="20" cols="80"></textarea>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="well well-sm">
					<button type="submit" class="btn btn-primary btn-lg btn-block" type="button">{lang Submit}</button>
					{if !empty({$id})}
					<a href="{$site_url}{$id}" target="_blank" class="btn btn-info btn-lg btn-block preview">{lang Preview}</a>
					{/if}
					<button type="button" class="btn btn-default btn-lg btn-block" onclick="history.back();">{lang Cancel}</button>
				</div>

				<div class="well well-sm">
					<h4 class="text-center">{lang Details}</h4>

					<div class="checkbox translatable">
						<label for="published">
							<input id="published" class="published" type="checkbox" name="published" />
							{lang Published}
						</label>
					</div>

					<div class="translatable">
						<div class="publish_datetime_group">
							<div class="form-group">
								<label for="publish_date" class="control-label">*{lang Date of publication}</label>
								<input id="publish_date" class="form-control" type="date" name="publish_date" placeholder="{lang Date of publication}" />
							</div>

							<div class="form-group">
								<label for="publish_time" class="control-label">*{lang Hour of publication}</label>
								<input id="publish_time" class="form-control" type="time" name="publish_time" placeholder="{lang Hour of publication}" />
							</div>
						</div>
					</div>

					<div class="form-group translatable">
						<label for="author" class="control-label">{lang Author}</label>
						<input id="author" class="form-control" type="text" name="author" placeholder="{lang Author}" />
					</div>

					<div class="form-group">
						<label for="image">{lang Image}</label>

						{if !empty({$image})}
						<p><img class="img-responsive" src="{$image}" alt="{$title_1}" /></p>
						{/if}

						<input id="image" type="file" name="image" />
					</div>

					{if !empty({$id})}
					<hr />

					<ul class="list-unstyled">
						<li>{lang Created on %s|{$created_date}}</li>

						{if {$modified_date} != '0000-00-00 00:00:00'}
						<li>{lang Modified on %s|{$modified_date}}</li>
						{/if}
					</ul>
					{/if}
				</div>

				<div class="well well-sm">
					<h4 class="text-center">{lang Categories}</h4>

					{for $cat in $categories}
					<div class="checkbox">
						<label>
							<input id="cat{$cat.cid}" type="checkbox" name="cats[{$cat.cid}]"{if in_array({$cat.cid}, {$cats})} checked="checked"{/if} />
							{$cat.name}
						</label>
					</div>
					{/for}
					{empty}
					<p>{lang No category in database}</p>
					{/empty}
				</div>

				<div class="well well-sm">
					<h4 class="text-center">{lang SEO}</h4>

					<div class="form-group translatable">
						<label for="meta_title">{lang Meta Title}</label>
						<input id="meta_title" class="form-control meta_title" type="text" name="meta_title" placeholder="{lang Meta Title}" />
					</div>

					<div class="form-group translatable">
						<label for="meta_description">{lang Meta Description}</label>
						<textarea id="meta_description" class="form-control" type="text" name="meta_description" placeholder="{lang Meta Description}" rows="4" cols="40"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	var wity_lang_form_values = {$form_values};
</script>
