<div class="wity-app wity-app-news wity-action-news-form">
	<form method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-9">
				<h2 class="sr-only">{if empty({$id})}{lang article_add}{else}{lang article_edit}{/if}</h2>
				<div class="form-group">
					<label for="title" class="sr-only control-label">{lang title_of_article}*</label>
					<input id="title" class="form-control input-lg" type="text" name="title" value="{$title}" autocomplete="off" placeholder="{lang title_of_article}" />
				</div>

				<div class="input-group">
					<span class="input-group-addon">{$site_url}{$id}-</span>
					<input id="url" class="form-control" type="text" name="url" value="{$url}" />
				</div>

				<label for="content" class="sr-only">{lang article_content}:</label><br />
				<textarea id="content" class="form-control" name="content" rows="20" cols="80">{$content}</textarea>
				<script type="text/javascript">
					var roxyFileman = '{$wity_base_url}libraries/fileman/index.html',
						options = {
							filebrowserBrowseUrl: roxyFileman,
							filebrowserImageBrowseUrl: roxyFileman + '?type=image',
							removeDialogTabs: 'link:upload;image:upload',
							height: '500px'
						};
					
					CKEDITOR.replace('content', options);
				</script>
			</div>
			<div class="col-md-3">
				<div class="well well-sm">
					<h4 class="text-center">{lang metadata}</h4>
					<div class="checkbox">
						<label for="published">
							<input id="published" type="checkbox" name="published"{if {$published}} checked="checked"{/if} />
							{lang published}
						</label>
					</div>
					<div class="form-group">
						<label for="author">{lang author}*</label>
						<input id="author" type="text" class="form-control" name="author" value="{$author}"  autocomplete="off" placeholder="{lang author}" />
					</div>
					<div class="form-group">
						<label for="meta_title">{lang meta_title}</label>
						<input id="meta_title" type="text" class="form-control" name="meta_title" value="{$meta_title}"  autocomplete="off" placeholder="{lang meta_title}" />
					</div>
					<div class="form-group">
						<label for="keywords">{lang keywords}</label>
						<input id="keywords" type="text" class="form-control" name="keywords" value="{$keywords}"  autocomplete="off" placeholder="{lang keywords}" />
					</div>
					<div class="form-group">
						<label for="description">{lang description}</label>
						<textarea id="description" type="text" class="form-control" name="description" placeholder="{lang description}" rows="4" cols="40">{$description}</textarea>
					</div>
					
					{if !empty({$image})}
					<img class="img-responsive" src="/upload/news/{$image}" alt="{$title}" />
					{/if}
					<label for="image">{lang image}</label>
					<input id="image" type="file" name="image" />
					
					{if !empty({$date})}
					<hr />
					<ul class="list-unstyled">
						<li>{lang article_created_on|{$date}}</li>
						<li>{lang article_modified_on|{$modified}}</li>
					</ul>
					{/if}
				</div>
				<div class="well well-sm">
					<h4 class="text-center">{lang category_of_article}</h4>
					{for $cat in $categories}
					<div class="checkbox">
						<label>
							<input id="cat{$cat.cid}" type="checkbox" name="cats[{$cat.cid}]"{if in_array({$cat.cid}, {$cats})} checked="checked"{/if} />
							{$cat.name}
						</label>
					</div>
					{/for}
					{empty}
					<p>{lang no_category_in_database}</p>
					{/empty}
				</div>
				<div class="well well-sm">
					<button type="submit" class="btn btn-primary btn-lg btn-block" type="button">{lang submit}</button>
					<button class="btn btn-default btn-lg btn-block" type="button" onclick="history.back();">{lang cancel}</button>
				</div>
			</div>
		</div>
	</form>
</div>
