<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="modal_delete_label">{lang Delete a suscriber}</h4>
		</div>
		<div class="modal-body">
			<p>{lang Do you really want to delete the subscriber &lt;strong&gt;%s&lt;/strong&gt;?|{$email}}</p>
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-default">{lang Cancel}</button>
			<a href="{$confirm_delete_url}" class="btn btn-danger">{lang Delete}</a>
		</div>
	</div>
</div>
