{if !empty({$note})}{$note}{/if}
{$pagination}
<table class="liste sorted" cellpadding="0" cellspacing="0">
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 15%;" />
		<col style="width: 15%;" />
		<col style="width: 15%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<tr>
		<th class="sort {$objet_class}"><a href="/admin/newsletter/objet-{$objet_sort}/">Objet</a></th>
		<th class="sort {$date_class}"><a href="/admin/newsletter/date-{$date_sort}/">Date</a></th>
		<th>Expéditeur</th>
		<th>Nombre destinataires</th>
		<th>Pièce jointe</th>
		<th>Action</th>
	</tr>
	{block name="newsletter"}
		<tr class="{if {$count} % 2 == 0}pair{else}impair{/if}">
			<td><strong>{$newsletter.objet}</strong></td>
			<td>{$newsletter.date}</td>
			<td>{$newsletter.nickname}</td>
			<td class="tcenter">{$newsletter.dest_count}</td>
			<td class="tcenter">
				{if !empty({$newsletter.attachment})}<img src="/themes/system/images/icones/juste.png" alt="Non" />
				{else}<img src="/themes/system/images/icones/del.png" alt="Oui" />{/if}
			</td>
			<td class="tcenter">
				<a href="/admin/newsletter/read/{$newsletter.id}/" title="Lire"><img src="/themes/system/images/icones/letter.png" alt="Lire" /></a>
			</td>
		</tr>
	{/block}
	{if {$count} == 0}
		<tr>
			<td colspan="5" class="tcenter">Aucune donnée</td>
		</tr>
	{/if}
</table>
{$pagination}