<div id="blocks">
	<div id="to" class="block">
		<p>Envoyé le <strong>{$date}</strong><br />
		Par : <strong>{$nickname}</strong></p>
		<div id="toList">
			<div class="listWrapper">
				<ul>
				{foreach item={$destinataires} as={$d}}
					<li>{$d.value}</li>
				{/foreach}
				</ul>
			</div>
		</div>
		<div class="count">{$dest_count} contacts</div>
	</div>
</div>
<div id="content">
	<div class="item">
		{if !empty({$note})}{$note}{/if}
		<strong>{$objet}</strong><br /><br />
		
		{$message}
		
		{if !empty({$attachment})}
			<hr />
			<strong>Pièces jointes</strong><br />
			<a href="/upload/newsletters/{$attachment}">{$attachment}</a>
		{/if}
	</div>
</div>
<div class="clear"></div>