body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.link {
	cursor: pointer;
}

input.input-big {
	height: 40px;
	line-height: 40px;
	padding: 8px 10px;
	font-size: 26px;
}

label.label-big {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}