
.hidden {
	display: none;
}

#objet {
	width: 100%;
	font-size: 1.7em;
}

#objet.empty {
	color: #c7c7c7;
}

#to ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#to li {
	font-weight: bold;
}

#toList .listWrapper {
	border-top: 1px solid gray;
	max-height: 300px;
	overflow: auto;
	margin: 1em 0 1em 0;
	padding: 0.5em;
}

#to .count {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
}
