<div class="wity-app wity-app-slideshow wity-action-form">
	<form method="post" enctype="multipart/form-data">
		<div id="translatable-tabs"></div>
		
		<div class="row">
			<div class="col-md-8">
				<h2 class="sr-only">{lang slide_add}</h2>

				<div class="form-group translatable">
					<label for="title" class="control-label">{lang title}*</label><br />
					<input id="title" class="form-control" type="text" name="title" autocomplete="off" placeholder="{lang title}" />
				</div>

				<div class="translatable">
					<label for="legend">{lang legend}</label><br />
					<textarea id="legend" class="form-control" name="legend" rows="20" cols="80"></textarea>
				</div>
				<br />
				
				<div class="form-group">
					<label for="url" class="control-label">{lang URL}</label>
					<input id="url" class="form-control" type="text" name="url" value="{$url}" autocomplete="off" placeholder="{lang URL}" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="well well-sm">
					<div class="form-group">
						<label for="image" class="control-label">
							{lang image}
							<br />
							<small>(PNG ou JPEG | 1600x450 px | ~170 ko)</small>
						</label>
						
						{if !empty({$image})}
						<p><img class="img-responsive" src="{$image}" alt="{$title_1}" /></p>
						{/if}
						
						<input id="image" type="file" name="image" class="form-control" />
					</div>
				</div>
				
				<div class="well well-sm">
					<button type="submit" class="btn btn-primary btn-lg btn-block" type="button">{lang save}</button>
					<button class="btn btn-default btn-lg btn-block" type="button" onclick="history.back();">{lang cancel}</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	var js_values = {$js_values};
</script>
