<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Supprimer une slide</h4>
		</div>
		<div class="modal-body">
			<p>Êtes-vous sûr de vouloir supprimer la slide {$title} ?</p>
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-default">Annuler</button>
			<a href="{$confirm_delete_url}" class="btn btn-danger">Supprimer</a>
		</div>
	</div>
</div>
