<section class="wity-app wity-app-news wity-action-listing">
	{for $n in $news}
		<article class="news">
			<header class="news-header">
				{if !empty({$n.image})}
				<div class="news-image"><img class="img-responsive" src="{$n.image}" alt="{$n.title}" /></div>
				{/if}

				<h2 class="news-title"><a href="{$n.url}">{$n.title}</a></h2>

				<p class="news-meta">{lang Posted by %s, on the %s|{$n.author}|{$n.created_date|strftime_db:'%d %B %Y, %Hh%M'}}</p>
			</header>

			<div class="news-content">{$n.content}</div>
		</article>
	{/for}
	{empty}
		<p>{lang No news in this category.}</p>
	{/empty}
</section>
